@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Roboto&Varta:wght@700display=swap");
:root {
  --background-color: #ffffff;
  --character-background-color: #c8102e;
  --hub-background-color: #4088b4;
  --foreground-color: #000000;
  --highlight-background-color: #c8102e;
  --highlight-foreground-color: #ffffff;
  --item-background-color: #7a7971;
  --tab-font: "IBM Plex Mono";
  --title-font: "AndroclesOpti-Heavy";
  --text-font: "IBM Plex Mono";
  --input-font: sans-serif;
  --input-border-color: #7a7971;
}

@font-face {
  font-family: "AndroclesOpti-Heavy";
  src: url("../assets/fonts/AndroclesOpti-Heavy.otf") format("opentype");
}
.deathinspace .editor,
.deathinspace .editor-content {
  height: 100%;
}
/* ====================== */
/* Sheet */
/* ====================== */
.deathinspace .sheet-body {
  overflow: hidden;
  height: 100%;
}

.deathinspace.sheet {
  /* ====================== */
  /* Sheet Tabs */
  /* ====================== */
}
.deathinspace.sheet .window-content {
  /* inherited background is parchment img bg */
  /* background: var(--background-color); */
  background: url(../assets/images/ui/seamless_paper_texture.png) repeat;
  color: var(--foreground-color);
  /* TODO: what is busted, that requires that extra trailing var to work? */
  /*font-family: var(--text-font)var;*/
  font-family: var(--text-font);
}
.deathinspace.sheet form {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.deathinspace.sheet input[type=text],
.deathinspace.sheet input[type=number] {
  border: none;
  border-bottom: 1px dotted black;
  border-radius: 0;
  font-family: var(--input-font);
  font-size: 14px;
  text-decoration: none;
}
.deathinspace.sheet input:-moz-read-only {
  background: none;
}
.deathinspace.sheet input:read-only {
  background: none;
}
.deathinspace.sheet input[type=text].inline-edit,
.deathinspace.sheet input[type=number].inline-edit {
  font-size: 14px;
  height: 16px;
  width: 30px;
}
.deathinspace.sheet ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--input-border-color);
  opacity: 0.5;
}
.deathinspace.sheet :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--input-border-color);
  opacity: 0.5;
}
.deathinspace.sheet ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--input-border-color);
  opacity: 0.5;
}
.deathinspace.sheet :-ms-input-placeholder {
  color: var(--input-border-color);
  opacity: 0.5;
}
.deathinspace.sheet select {
  border-radius: 0;
  font-family: var(--input-font);
  font-size: 20px;
}
.deathinspace.sheet textarea {
  border: none;
  border-bottom: 1px dotted black;
  border-radius: 0;
  font-family: var(--input-font);
  font-size: 14px;
  height: 90%;
  resize: none;
}
.deathinspace.sheet .portrait {
  background: rgba(0, 0, 0, 0.05);
}
.deathinspace.sheet .portrait:hover {
  cursor: pointer;
}
.deathinspace.sheet .rollable:hover {
  cursor: pointer;
  text-shadow: 0 0 10px red;
}
.deathinspace.sheet .hub .sheet-tabs {
  flex: 0 0 30px;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}
.deathinspace.sheet .sheet-tabs {
  margin: 0;
}
.deathinspace.sheet .sheet-tabs .item {
  font-family: var(--tab-font);
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  line-height: 32px;
  width: 130px;
  text-transform: uppercase;
}
.deathinspace.sheet .sheet-tabs .item.active {
  text-shadow: none;
}
.deathinspace.sheet .sheet-body .tab {
  height: 100%;
  margin: 0px;
  overflow-y: auto;
  padding: 0px;
  width: 100%;
}
.deathinspace.sheet input[type=number],
.deathinspace.sheet input[type=text],
.deathinspace.sheet select,
.deathinspace.sheet textarea {
  border: 1px dotted var(--input-border-color);
  font-family: "IBM Plex Mono";
  font-size: 14px;
}
.deathinspace.sheet .editor {
  padding: 0 8px;
}
/* ====================== */
/* Actor sheet */
/* ====================== */
.deathinspace.sheet.actor .sheet-header {
  height: 80px;
}
.deathinspace.sheet.actor .header-row {
  display: flex;
  height: 80px;
}
.deathinspace.sheet.actor .header-row .col1 {
  flex: 1;
  margin: 0;
  padding: 10px;
}
.deathinspace.sheet.actor .header-row .col1 .game-title {
  font-family: var(--title-font);
  font-size: 36px;
}
.deathinspace.sheet.actor .header-row .col2 {
  border-left: 2px solid black;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
}
.deathinspace.sheet.actor .stat-block {
  padding: 2px;
}
.deathinspace.sheet.actor .stat-block label {
  display: block;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
}
.deathinspace.sheet.actor .item-controls {
  display: flex;
  flex: 0 0 50px;
  justify-content: flex-end;
}
.deathinspace.sheet.actor .item-controls a {
  margin-right: 5px;
}
.deathinspace.sheet.actor.character {
  /* ====================== */
  /* Character sheet - Personal tab */
  /* ====================== */
  /* ====================== */
  /* Character sheet - Situation tab */
  /* ====================== */
  /* ====================== */
  /* Character sheet - Notes tab */
  /* ====================== */
}
.deathinspace.sheet.actor.character form {
  border: 4px solid var(--character-background-color);
}
.deathinspace.sheet.actor.character textarea {
  border: 1px dotted var(--input-border-color);
  font-family: "IBM Plex Mono";
  font-size: 12px;
}
.deathinspace.sheet.actor.character .header-row .col1 {
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .header-row .col1 .game-title {
  color: var(--character-background-color);
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .header-row .col1 .sheet-title {
  color: var(--character-background-color);
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .header-row .col2 .section-label {
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .header-row .col2 .character-name {
  font-size: 24px;
}
.deathinspace.sheet.actor.character .header-row .col2 .character-name input {
  padding: 5px;
  height: 38px;
}
.deathinspace.sheet.actor.character .sheet-tabs {
  background: var(--character-background-color);
  border-bottom: 1px solid var(--character-background-color);
  border-top: 1px solid var(--character-background-color);
  color: white;
}
.deathinspace.sheet.actor.character .sheet-tabs .item:hover {
  color: black;
  text-shadow: 0 0 10px white;
}
.deathinspace.sheet.actor.character .sheet-tabs .item.active {
  background-color: white;
  border-bottom: 1px solid var(--character-background-color);
  color: var(--character-background-color);
}
.deathinspace.sheet.actor.character .personal-tab .personal-wrapper {
  display: inline-grid;
  grid-template-columns: 25% 50% 25%;
  /* TODO: figure out expandable rows */
  grid-template-rows: 37px 50px 50px 50px 50px 50px 60px 55px 55px 10px;
}
.deathinspace.sheet.actor.character .personal-tab .origin-row {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  padding-top: 0px;
}
.deathinspace.sheet.actor.character .personal-tab .origin-row div.origin-label {
  border-right: 1px dotted #000;
  flex: 0 0 80px;
  padding-top: 9px;
  text-align: center;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .personal-tab .origin-row div.origin {
  flex: 1;
  padding-left: 10px;
  padding-top: 9px;
}
.deathinspace.sheet.actor.character .personal-tab .origin-row div.item-controls {
  padding-top: 9px;
}
.deathinspace.sheet.actor.character .personal-tab .regenerate-block {
  border-bottom: 2px solid black;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  padding-top: 8px;
  text-align: center;
}
.deathinspace.sheet.actor.character .personal-tab .regenerate-block a.regenerate {
  text-decoration: underline;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .personal-tab .origin-benefit-block {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}
.deathinspace.sheet.actor.character .personal-tab .origin-benefit-block .title-row {
  display: flex;
  flex: 0 0 24;
  justify-content: space-between;
}
.deathinspace.sheet.actor.character .personal-tab .origin-benefit-block .title-row label {
  font-size: 12px;
  padding-left: 2px;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .personal-tab .origin-benefit-block .origin-benefit-row {
  border-bottom: 1px dotted black;
  display: flex;
  flex: 0 0 24;
  justify-content: space-between;
  padding-left: 2px;
}
.deathinspace.sheet.actor.character .personal-tab .origin-benefit-block .origin-benefit-row .origin-name {
  flex: 1;
}
.deathinspace.sheet.actor.character .personal-tab .xp-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 2;
}
.deathinspace.sheet.actor.character .personal-tab .background-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 2;
  grid-row-start: 2;
}
.deathinspace.sheet.actor.character .personal-tab .trait-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 3;
}
.deathinspace.sheet.actor.character .personal-tab .past-allegiance-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}
.deathinspace.sheet.actor.character .personal-tab .past-allegiance-block textarea {
  height: 76px;
}
.deathinspace.sheet.actor.character .personal-tab .drive-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 4;
}
.deathinspace.sheet.actor.character .personal-tab .looks-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 2;
  grid-row-start: 5;
  grid-row-end: 7;
}
.deathinspace.sheet.actor.character .personal-tab .looks-block textarea {
  height: 76px;
}
.deathinspace.sheet.actor.character .personal-tab .ability-block {
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-row-end: 11;
}
.deathinspace.sheet.actor.character .personal-tab .ability-block .ability-col {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  padding: 5px;
}
.deathinspace.sheet.actor.character .personal-tab .ability-block .ability-col .ability-row {
  display: flex;
}
.deathinspace.sheet.actor.character .personal-tab .ability-block .ability-col .ability-row .ability-name {
  flex: 1;
  font-weight: bold;
}
.deathinspace.sheet.actor.character .personal-tab .ability-block .ability-col .ability-row .ability-value {
  flex: 0 0 50px;
}
.deathinspace.sheet.actor.character .personal-tab .ability-block .ability-col .ability-row .ability-value input[type=number],
.deathinspace.sheet.actor.character .personal-tab .ability-block .ability-col .ability-row input[type=number].stat-input {
  text-align: center;
}
.deathinspace.sheet.actor.character .personal-tab .portrait-block {
  grid-column-start: 3;
  grid-row-start: 5;
  grid-row-end: 11;
}
.deathinspace.sheet.actor.character .personal-tab .portrait-block .portrait-col {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
}
.deathinspace.sheet.actor.character .personal-tab .portrait-block .portrait-col .portrait {
  width: 100%;
}
.deathinspace.sheet.actor.character .personal-tab .defense-row {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  grid-column-start: 2;
  grid-row-start: 7;
  padding-left: 2px;
  width: 100%;
}
.deathinspace.sheet.actor.character .personal-tab .defense-row .defense-text {
  border-right: 1px dotted black;
  flex: 1;
}
.deathinspace.sheet.actor.character .personal-tab .defense-row .defense-text label {
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .personal-tab .defense-row .defense-text .help-text {
  font-size: 12px;
}
.deathinspace.sheet.actor.character .personal-tab .defense-row .defense-value {
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 2px;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-row {
  border-right: 2px solid black;
  display: flex;
  grid-column-start: 2;
  grid-row-start: 8;
  grid-row-end: 11;
  padding-left: 2px;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-row .hit-points-text {
  flex: 1;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-row .hit-points-text label {
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-row .hit-points-text .help-text {
  font-size: 12px;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-row .hit-points-current-col {
  border-right: 1px dotted black;
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  text-align: center;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-row .hit-points-current-col label {
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-row .hit-points-max-col {
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  padding-left: 2px;
  text-align: center;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-row .hit-points-max-col label {
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .situation-tab .situation-wrapper {
  display: inline-grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 70px 174px 223px;
  width: 100%;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block {
  border-bottom: 2px solid black;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-col-1 {
  display: flex;
  flex: 0 0 200;
  flex-direction: column;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-col-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-points-radios {
  flex: 0 0 30px;
  padding-left: 5px;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-points-radios ul.void-points {
  list-style-type: none;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  float: left;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-points-radios ul.void-points li {
  float: left;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-points-radios ul.void-points label {
  display: block;
  padding: 4px;
  position: relative;
  padding-left: 27px;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-points-radios ul.void-points label span {
  border: 1px solid #7a7971;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
  line-height: 1.5;
  text-align: center;
  border-radius: 100%;
  font-size: 10pt;
  left: 0;
  top: 50%;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-points-radios ul.void-points input[type=radio] {
  display: none;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-points-radios ul.void-points input[type=radio]:checked + span {
  background: var(--highlight-background-color);
  color: var(--highlight-foreground-color);
  border: none;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-points-text-top {
  font-family: monospace;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block .void-points-text-bottom {
  font-size: 12px;
}
.deathinspace.sheet.actor.character .situation-tab .cosmic-mutations-block {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 2;
}
.deathinspace.sheet.actor.character .situation-tab .cosmic-mutations-block .cosmic-mutations-title {
  flex: 0 0 10px;
  margin-bottom: 10px;
}
.deathinspace.sheet.actor.character .situation-tab .cosmic-mutations-block .cosmic-mutation-row {
  border-bottom: 1px dotted black;
  display: flex;
  padding-top: 4px;
}
.deathinspace.sheet.actor.character .situation-tab .cosmic-mutations-block .cosmic-mutation-row .cosmic-mutation-name {
  flex: 1;
  padding-left: 4px;
}
.deathinspace.sheet.actor.character .situation-tab .void-corruption-block {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}
.deathinspace.sheet.actor.character .situation-tab .void-corruption-block .void-corruption-title {
  flex: 0 0 10px;
  margin-bottom: 10px;
}
.deathinspace.sheet.actor.character .situation-tab .void-corruption-block .void-corruption-row {
  border-bottom: 1px dotted black;
  display: flex;
  padding-top: 4px;
}
.deathinspace.sheet.actor.character .situation-tab .void-corruption-block .void-corruption-row .void-corruption-name {
  flex: 1;
  padding-left: 4px;
}
.deathinspace.sheet.actor.character .situation-tab .life-support-block {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-row-start: 2;
}
.deathinspace.sheet.actor.character .situation-tab .life-support-block .oxygen-tank-row {
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
}
.deathinspace.sheet.actor.character .situation-tab .life-support-block .oxygen-tank-row .oxygen-numbers {
  display: flex;
  flex: 0 0 20px;
  font-size: 11px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 70px;
}
.deathinspace.sheet.actor.character .situation-tab .life-support-block .oxygen-tank-row .oxygen-tank {
  background-image: url("../assets/images/ui/oxygen_tank.png");
  background-repeat: no-repeat;
  background-size: contain;
  flex: 0 0 58px;
  height: 58px;
  margin-left: 12px;
  margin-right: 0px;
  width: 226px;
}
.deathinspace.sheet.actor.character .situation-tab .life-support-block .oxygen-tank-row .oxygen-tank .oxygen-increments {
  display: flex;
  padding-left: 17px;
  padding-top: 6px;
}
.deathinspace.sheet.actor.character .situation-tab .life-support-block .oxygen-tank-row .oxygen-tank .oxygen-increments .increment {
  border-right: 1px dotted black;
  height: 45px;
  padding-top: 12px;
  width: 21.5px;
}
.deathinspace.sheet.actor.character .situation-tab .life-support-block .oxygen-tank-row .oxygen-tank .oxygen-increments .increment:nth-last-child(1) {
  border-right: none;
}
.deathinspace.sheet.actor.character .situation-tab .life-support-block .tank-space {
  flex: 1;
}
.deathinspace.sheet.actor.character .notes-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.deathinspace.sheet.hub form {
  border: 4px solid var(--hub-background-color);
}
.deathinspace.sheet.hub .sheet-tabs {
  background: var(--hub-background-color);
  border-bottom: 1px solid var(--hub-background-color);
  border-top: 1px solid var(--hub-background-color);
  color: white;
  display: flex;
  justify-content: space-around;
}
.deathinspace.sheet.hub .sheet-tabs .item {
  flex: 0 0 170px;
}
.deathinspace.sheet.hub .sheet-tabs .item:hover {
  color: black;
  text-shadow: 0 0 10px white;
}
.deathinspace.sheet.hub .sheet-tabs .item.active {
  background-color: white;
  border-bottom: none;
  color: var(--hub-background-color);
}
.deathinspace.sheet.hub .portrait {
  background: none;
}
.deathinspace.sheet.hub .portrait img {
  height: 100%;
  width: 100%;
}
.deathinspace.sheet.hub input.power {
  text-align: center;
  width: 100px;
}

.deathinspace.sheet.actor.hub {
  /* ====================== */
  /* Hub sheet - Specifics tab */
  /* ====================== */
  /* ====================== */
  /* Hub sheet - Hub data tab */
  /* ====================== */
  /* ====================== */
  /* Hub sheet - Layout tab */
  /* ====================== */
  /* ====================== */
  /* Hub sheet - Notes tab */
  /* ====================== */
}
.deathinspace.sheet.actor.hub .header-row .col1 {
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .header-row .col1 .game-title {
  color: var(--hub-background-color);
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .header-row .col1 .sheet-title {
  color: var(--hub-background-color);
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .header-row .col2 .section-label {
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .header-row .col2 .hub-name {
  font-size: 24px;
}
.deathinspace.sheet.actor.hub .header-row .col2 .hub-name input {
  padding: 5px;
}
.deathinspace.sheet.actor.hub .specifics-tab .specifics-wrapper {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  /* TODO: figure out expandable rows */
  grid-template-rows: 50px 120px 100px;
  width: 100%;
}
.deathinspace.sheet.actor.hub .specifics-tab .nickname-block {
  border-bottom: 2px solid var(--hub-background-color);
  border-right: 2px solid black;
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
}
.deathinspace.sheet.actor.hub .specifics-tab .hub-type-block {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--hub-background-color);
  grid-column-start: 2;
  grid-row-start: 1;
}
.deathinspace.sheet.actor.hub .specifics-tab .hub-type-block .frame-label {
  flex: 0 0 24;
  font-size: 12px;
  padding-left: 2px;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .specifics-tab .hub-type-block .frame-row {
  display: flex;
  flex: 1;
  padding-top: 5px;
}
.deathinspace.sheet.actor.hub .specifics-tab .hub-type-block .frame-row .frame-name {
  flex: 1;
  text-align: center;
}
.deathinspace.sheet.actor.hub .specifics-tab .background-block {
  border-bottom: 2px solid var(--hub-background-color);
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 2;
}
.deathinspace.sheet.actor.hub .specifics-tab .appearance-block {
  border-bottom: 2px solid var(--hub-background-color);
  grid-column-start: 2;
  grid-row-start: 2;
}
.deathinspace.sheet.actor.hub .specifics-tab .quirks-block {
  border-bottom: 2px solid var(--hub-background-color);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row {
  border-bottom: 2px solid var(--hub-background-color);
  display: flex;
  flex: 0 0 80px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .frame-integrity {
  border-right: 1px dotted black;
  flex: 0 0 90px;
  padding-left: 5px;
  padding-top: 5px;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .integrity-increment {
  border-right: 1px dotted black;
  flex: 0 0 40px;
  display: flex;
  flex-direction: column;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row div.integrity-increment:nth-child(12) {
  border-right: 2px solid black;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .integrity-increment label {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .integrity-increment .integrity-radio {
  flex: 1;
  padding-right: 5px;
  padding-top: 25px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .integrity-increment .integrity-percent {
  display: none;
  flex: 0 0 20px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .integrity-increment:nth-child(2) .integrity-percent,
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .integrity-increment:nth-child(7) .integrity-percent,
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .integrity-increment:nth-child(12) .integrity-percent {
  background-color: var(--hub-background-color);
  color: white;
  display: block;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .defense-rating {
  align-items: center;
  display: flex;
  flex: 0 0 150px;
  flex-direction: column;
  padding: 5px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .defense-rating .title-row {
  flex: 0 0 30px;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .defense-rating .input-row {
  flex: 1;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .frame-integrity-row .defense-rating input.defense-rating {
  text-align: center;
  width: 118px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .roll-on-damage-row {
  border-bottom: 2px solid var(--hub-background-color);
  display: flex;
  flex: 0 0 35px;
  font-size: 10px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .roll-on-damage-row .col1 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .roll-on-damage-row .col1 .arrow-row {
  display: flex;
  color: var(--hub-background-color);
  font-size: 16px;
  font-weight: bold;
  flex: 0 0 15px;
  line-height: 15px;
  margin: 0;
  padding: 0;
  text-align: right;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .roll-on-damage-row .col1 .arrow-row .arrow1 {
  flex: 0 0 113px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .roll-on-damage-row .col1 .arrow-row .arrow2 {
  flex: 0 0 201px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .roll-on-damage-row .col1 .roll-text-row {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .roll-on-damage-row .col1 .roll-text-row .spacer1 {
  flex: 0 0 74px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .roll-on-damage-row .col1 .roll-text-row .spacer2 {
  flex: 0 0 110px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .roll-on-damage-row .col2 {
  border-left: 1px dotted black;
  flex: 0 0 217px;
  font-size: 10px;
  padding: 5px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row {
  border-bottom: 2px solid var(--hub-background-color);
  display: flex;
  flex: 0 0 80px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .condition {
  border-right: 2px solid black;
  display: flex;
  flex: 0 0 210px;
  flex-direction: column;
  padding: 5px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .label-row {
  display: flex;
  flex: 0 0 30px;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .field-row {
  display: flex;
  flex: 1;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .col1 {
  flex: 1;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .col2 {
  flex: 0 0 55px;
  font-size: 12px;
  text-align: center;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .col3 {
  flex: 0 0 55px;
  font-size: 12px;
  text-align: center;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .fuel {
  border-right: 2px solid black;
  display: flex;
  flex: 0 0 180px;
  flex-direction: column;
  padding: 5px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .fuel .label-row {
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .power-source {
  border-right: 1px dotted black;
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  padding: 5px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .power-source .source-label {
  flex: 0 0 24;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .power-source .source-row {
  display: flex;
  flex: 1;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .power-source .source-row .source-name {
  flex: 1;
  font-size: 12px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .output-power {
  align-items: right;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .output-power .title-row {
  flex: 0 0 30px;
  text-transform: uppercase;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .output-power .input-row {
  flex: 1;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .condition-row .output-power .input-row input {
  background: none;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .modules-block {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .modules-block .title-row {
  display: flex;
  flex: 0 0 30px;
  text-transform: uppercase;
  width: 100%;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .modules-block .col1 {
  flex: 1;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .modules-block .col2 {
  display: flex;
  flex: 0 0 40px;
  justify-content: space-around;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .modules-block .col3 {
  flex: 0 0 110px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .modules-block .modules-list {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .modules-block .modules-list .module-item {
  align-items: center;
  display: flex;
  flex: 0 0 25px;
  border-bottom: 1px dotted black;
  margin-top: 10px;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .modules-block .modules-total {
  display: flex;
  flex: 0 0 50px;
  font-size: 12px;
  margin-top: 15px;
  width: 100%;
}
.deathinspace.sheet.actor.hub .hub-data-wrapper .modules-block .modules-total .col1 {
  padding-right: 20px;
  text-align: right;
}
.deathinspace.sheet.actor.hub .layout-wrapper {
  align-items: center;
  background: #fffffb;
  background-image: radial-gradient(var(--input-border-color) 1px, transparent 0);
  background-position: -14px -14px;
  background-size: 30px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.deathinspace.sheet.actor.hub .layout-wrapper .layout-image {
  flex: 1;
  margin: auto;
  width: auto;
}
.deathinspace.sheet.actor.hub .notes-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.deathinspace.sheet.npc {
  /* Notes tab */
  /* Data tab */
}
.deathinspace.sheet.npc form {
  border: 4px solid var(--item-background-color);
  padding: 0;
}
.deathinspace.sheet.npc .header-row .col1 {
  text-transform: uppercase;
}
.deathinspace.sheet.npc .header-row .col1 .game-title {
  color: var(--item-background-color);
  text-transform: uppercase;
}
.deathinspace.sheet.npc .header-row .col1 .sheet-title {
  color: var(--item-background-color);
  text-transform: uppercase;
}
.deathinspace.sheet.npc .header-row .col2 .section-label {
  text-transform: uppercase;
}
.deathinspace.sheet.npc .header-row .col2 .npc-name {
  font-size: 24px;
}
.deathinspace.sheet.npc .header-row .col2 .npc-name input {
  padding: 5px;
  height: 38px;
}
.deathinspace.sheet.npc .sheet-tabs {
  background: var(--item-background-color);
  border-bottom: 1px solid #f4f3ed;
  border-top: 1px solid #f4f3ed;
  color: white;
}
.deathinspace.sheet.npc .sheet-tabs .item:hover {
  color: black;
  text-shadow: 0 0 10px white;
}
.deathinspace.sheet.npc .sheet-tabs .item.active {
  background-color: #f4f3ed;
  color: var(--item-background-color);
}
.deathinspace.sheet.npc .personal-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.deathinspace.sheet.npc .personal-wrapper .row1 {
  display: flex;
  flex: 0 0 336px;
}
.deathinspace.sheet.npc .personal-wrapper .row2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.deathinspace.sheet.npc .personal-wrapper .col1 {
  border-right: 2px solid black;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .reaction-block {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  flex: 0 0 50px;
  justify-content: center;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .reaction-block a.reaction {
  text-decoration: underline;
  text-transform: uppercase;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .morale-block {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  height: 50px;
  justify-items: center;
  padding: 5px;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .morale-block .morale-name {
  flex: 1;
  font-weight: bold;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .morale-block .morale-value {
  flex: 0 0 50px;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .morale-block .morale-value input[type=number] {
  text-align: center;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .ability-block {
  border-bottom: 2px solid black;
  flex: 0 0 236px;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .ability-block .ability-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .ability-block .ability-col .ability-row {
  display: flex;
  height: 50px;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .ability-block .ability-col .ability-row .ability-name {
  flex: 1;
  font-weight: bold;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .ability-block .ability-col .ability-row .ability-value {
  flex: 0 0 50px;
}
.deathinspace.sheet.npc .personal-wrapper .col1 .ability-block .ability-col .ability-row .ability-value input[type=number],
.deathinspace.sheet.npc .personal-wrapper .col1 .ability-block .ability-col .ability-row input[type=number].stat-input {
  text-align: center;
}
.deathinspace.sheet.npc .personal-wrapper .col2 {
  border-right: 2px solid black;
  display: flex;
  flex: 2;
  flex-direction: column;
  width: 100%;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .background-block {
  border-bottom: 2px solid black;
  flex: 0 0 50px;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .first-impressions-block {
  border-bottom: 2px solid black;
  flex: 0 0 90px;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .first-impressions-block textarea {
  font-size: 14px;
  height: 68px;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .looks-block {
  border-bottom: 2px solid black;
  flex: 0 0 90px;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .looks-block textarea {
  font-size: 14px;
  height: 68px;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .defense-row {
  border-bottom: 2px solid black;
  display: flex;
  flex: 0 0 50px;
  padding-left: 2px;
  width: 100%;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .defense-row .defense-text {
  border-right: 1px dotted black;
  flex: 1;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .defense-row .defense-text label {
  text-transform: uppercase;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .defense-row .defense-text .help-text {
  font-size: 12px;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .defense-row .defense-value {
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 2px;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .hit-points-row {
  border-bottom: 2px solid black;
  display: flex;
  flex: 0 0 50px;
  padding-left: 2px;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .hit-points-row .hit-points-text {
  flex: 1;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .hit-points-row .hit-points-text label {
  text-transform: uppercase;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .hit-points-row .hit-points-text .help-text {
  font-size: 12px;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .hit-points-row .hit-points-current-col {
  border-right: 1px dotted black;
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  text-align: center;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .hit-points-row .hit-points-current-col label {
  text-transform: uppercase;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .hit-points-row .hit-points-max-col {
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  padding-left: 2px;
  text-align: center;
}
.deathinspace.sheet.npc .personal-wrapper .col2 .hit-points-row .hit-points-max-col label {
  text-transform: uppercase;
}
.deathinspace.sheet.npc .personal-wrapper .col3 {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}
.deathinspace.sheet.npc .personal-wrapper .col3 .regenerate-block {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  flex: 0 0 50px;
  justify-content: center;
}
.deathinspace.sheet.npc .personal-wrapper .col3 .regenerate-block a.regenerate {
  text-decoration: underline;
  text-transform: uppercase;
}
.deathinspace.sheet.npc .personal-wrapper .col3 .portrait-block {
  background-color: none;
  flex: 1;
  border-bottom: 2px solid black;
}
.deathinspace.sheet.npc .personal-wrapper .col3 .portrait-block .portrait-col {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
}
.deathinspace.sheet.npc .personal-wrapper .col3 .portrait-block .portrait-col .portrait {
  width: 100%;
}
.deathinspace.sheet.npc .personal-wrapper .special-block {
  flex: 1;
  padding-bottom: 5px;
}
.deathinspace.sheet.npc .personal-wrapper .special-block textarea {
  font-size: 14px;
}
.deathinspace.sheet.npc .belongings-wrapper .slots-total .slots-total-row .slots-text {
  visibility: hidden;
}
.deathinspace.sheet.npc .notes-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.deathinspace.sheet.npc .data-wrapper .form-group {
  border-bottom: 1px dotted black;
  display: flex;
  flex: 0 0 50px;
  width: 100%;
}
.deathinspace.sheet.npc .data-wrapper .form-group label {
  flex: 1;
  font-size: 16px;
  padding-right: 10px;
  text-align: right;
}
.deathinspace.sheet.npc .data-wrapper .form-group input[type=number],
.deathinspace.sheet.npc .data-wrapper .form-group input[type=text],
.deathinspace.sheet.npc .data-wrapper .form-group select {
  flex: 1;
  text-align: center;
}
.deathinspace.sheet.npc .data-wrapper .form-group textarea {
  flex: 1;
  margin-left: 5px;
}
.deathinspace.sheet.npc .data-wrapper .form-spacer {
  height: 20px;
}

.attack-outcome-card {
  border: 2px solid var(--character-background-color);
}
.attack-outcome-card .risky-outcome {
  font-size: 12px;
  text-transform: none;
}
.roll-card {
  border: 2px solid var(--highlight-background-color);
  font-family: var(--text-font);
  padding: 5px;
}
.roll-card .card-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.roll-card .roll-title {
  text-align: center;
  text-transform: uppercase;
}
.roll-card .roll-result {
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.roll-card .roll-result span {
  font-size: 20px;
}
.roll-card .outcome-text {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.deathinspace.app.window-app .window-content {
  background: url(../assets/images/ui/seamless_paper_texture.png) repeat;
}

.attack-dialog {
  border: 2px solid var(--character-background-color);
  color: var(--foreground-color);
  font-family: var(--text-font);
  margin: 0;
  padding: 10px;
}
.attack-dialog .form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.attack-dialog .form-group ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.attack-dialog .form-group ul li input[type=radio] {
  float: left;
  margin-top: 5px;
}
.attack-dialog .form-group ul li label div {
  display: block;
  margin-left: 30px;
}
.attack-dialog .button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.attack-dialog .button-row button {
  border: none;
  border-radius: 0;
  background-color: var(--character-background-color);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  width: 150px;
}
.attack-dialog .button-row button:active, .attack-dialog .button-row button:focus, .attack-dialog .button-row button:hover {
  box-shadow: 0 0 5px var(--highlight-background-color);
  text-shadow: 0 0 10px var(--highlight-background-color);
}
.custom-dialog {
  border: 2px solid var(--character-background-color);
  color: var(--foreground-color);
  font-family: var(--text-font);
  margin: 0;
  padding: 10px;
}
.custom-dialog .form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.custom-dialog .form-group ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.custom-dialog .form-group ul li input[type=radio] {
  float: left;
  margin-top: 5px;
}
.custom-dialog .form-group ul li label div {
  display: block;
  margin-left: 30px;
}
.custom-dialog .form-group.disabled {
  background-color: lightgray;
}
.custom-dialog .button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.custom-dialog .button-row button {
  border: none;
  border-radius: 0;
  background-color: var(--character-background-color);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  width: 150px;
}
.custom-dialog .button-row button:active, .custom-dialog .button-row button:focus, .custom-dialog .button-row button:hover {
  box-shadow: 0 0 5px var(--highlight-background-color);
  text-shadow: 0 0 10px var(--highlight-background-color);
}
.deathinspace.sheet.item {
  /* Notes tab */
  /* Data tab */
}
.deathinspace.sheet.item form {
  border: 4px solid var(--item-background-color);
}
.deathinspace.sheet.item .sheet-header {
  height: 160px;
}
.deathinspace.sheet.item .sheet-header .header-row {
  display: flex;
  height: 160px;
}
.deathinspace.sheet.item .sheet-header .header-row .col1 {
  display: flex;
  flex: 0 0 160px;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.deathinspace.sheet.item .sheet-header .header-row .col1 .item-image {
  background-color: var(--input-border-color);
  border-radius: 0;
  height: 160px;
  padding-top: 1px;
  width: 160px;
}
.deathinspace.sheet.item .sheet-header .header-row .col1 .item-image img {
  border: none;
  border-radius: 0;
  height: 160px;
  margin: 0;
  padding: 0;
  width: 160px;
}
.deathinspace.sheet.item .sheet-header .header-row .col2 {
  flex: 1;
  margin: 0;
  padding: 10px;
}
.deathinspace.sheet.item .sheet-header .header-row .col2 .game-title {
  color: var(--item-background-color);
  font-family: var(--title-font);
  font-size: 36px;
}
.deathinspace.sheet.item .sheet-header .header-row .col2 .sheet-title {
  color: var(--item-background-color);
}
.deathinspace.sheet.item .sheet-header .header-row .col2 .row1 {
  border-bottom: 1px solid black;
  height: 80px;
}
.deathinspace.sheet.item .sheet-header .header-row .col2 .row2 {
  height: 80px;
  padding-top: 10px;
}
.deathinspace.sheet.item .sheet-tabs {
  background: #f4f3ed;
  border-bottom: 1px solid #f4f3ed;
  border-top: 1px solid #f4f3ed;
}
.deathinspace.sheet.item .sheet-tabs .item.active {
  background-color: var(--item-background-color);
  color: white;
}
.deathinspace.sheet.item .sheet-tabs .item:hover {
  color: white;
  text-shadow: 0 0 10px black;
}
.deathinspace.sheet.item .notes-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.deathinspace.sheet.item .data-wrapper .form-group {
  border-bottom: 1px dotted black;
  display: flex;
  flex: 0 0 50px;
  width: 100%;
}
.deathinspace.sheet.item .data-wrapper .form-group label {
  flex: 1;
  font-size: 16px;
  padding-right: 10px;
  text-align: right;
}
.deathinspace.sheet.item .data-wrapper .form-group input[type=number],
.deathinspace.sheet.item .data-wrapper .form-group input[type=text],
.deathinspace.sheet.item .data-wrapper .form-group select {
  flex: 1;
  text-align: center;
}
.deathinspace.sheet.item .data-wrapper .form-spacer {
  height: 20px;
}
.deathinspace.sheet.actor .belongings-tab .item-controls {
  border-left: 1px dotted black;
}
.deathinspace.sheet.actor .belongings-tab .item-equip {
  margin-left: 4px;
}
.deathinspace.sheet.actor .belongings-tab .item-equip.equipped {
  color: red;
}
.deathinspace.sheet.actor .belongings-tab .item-equip.unequipped {
  color: gray;
}
.deathinspace.sheet.actor .belongings-tab .belongings-wrapper {
  display: flex;
  flex-direction: column;
}
.deathinspace.sheet.actor .belongings-tab .add-row {
  flex: 0 0 20px;
  padding: 5px;
  text-align: right;
}
.deathinspace.sheet.actor .belongings-tab .col-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.deathinspace.sheet.actor .belongings-tab .col-spacer {
  flex: 0 0 20px;
}
.deathinspace.sheet.actor .belongings-tab .col-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.deathinspace.sheet.actor .belongings-tab .equipment {
  display: flex;
  flex-direction: column;
}
.deathinspace.sheet.actor .belongings-tab .equipment .equipment-header {
  display: flex;
  flex: 0 0 24;
  flex-direction: row;
  font-size: 12px;
  padding-left: 5px;
  text-transform: uppercase;
  width: 100%;
}
.deathinspace.sheet.actor .belongings-tab .equipment .equipment-row {
  border-bottom: 1px dotted black;
  display: flex;
  flex: 0 0 24;
  flex-direction: row;
  padding-left: 5px;
}
.deathinspace.sheet.actor .belongings-tab .equipment .equipment-row.broken {
  background-color: lightgray;
}
.deathinspace.sheet.actor .belongings-tab .equipment .equipment-name {
  flex: 1;
  flex-basis: 75%;
}
.deathinspace.sheet.actor .belongings-tab .equipment .equipment-condition {
  border-left: 1px dotted black;
  flex-basis: 15%;
  text-align: center;
}
.deathinspace.sheet.actor .belongings-tab .equipment .equipment-slots {
  border-left: 1px dotted black;
  flex-basis: 10%;
  text-align: center;
}
.deathinspace.sheet.actor .belongings-tab .weapons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.deathinspace.sheet.actor .belongings-tab .weapons .weapon-header {
  border-top: 2px solid black;
  display: flex;
  flex: 0 0 24;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  text-transform: uppercase;
  width: 100%;
}
.deathinspace.sheet.actor .belongings-tab .weapons .weapon-row {
  display: flex;
  flex: 0 0 40;
  flex-direction: row;
}
.deathinspace.sheet.actor .belongings-tab .weapons .weapon-row.broken {
  background-color: lightgray;
}
.deathinspace.sheet.actor .belongings-tab .weapons .weapon-name {
  flex-basis: 40%;
  padding-left: 5px;
}
.deathinspace.sheet.actor .belongings-tab .weapons .weapon-attack {
  flex-basis: 5%;
}
.deathinspace.sheet.actor .belongings-tab .weapons .weapon-damage {
  border-left: 1px dotted black;
  text-align: center;
  flex-basis: 15%;
}
.deathinspace.sheet.actor .belongings-tab .weapons .weapon-ammo {
  border-left: 1px dotted black;
  flex-basis: 15%;
  text-align: center;
}
.deathinspace.sheet.actor .belongings-tab .weapons .weapon-condition {
  border-left: 1px dotted black;
  text-align: center;
  flex-basis: 15%;
}
.deathinspace.sheet.actor .belongings-tab .weapons .weapon-slots {
  border-left: 1px dotted black;
  flex-basis: 10%;
  text-align: center;
}
.deathinspace.sheet.actor .belongings-tab .armor {
  display: flex;
  flex-direction: column;
}
.deathinspace.sheet.actor .belongings-tab .armor .armor-header {
  border-top: 2px solid black;
  display: flex;
  flex: 0 0 24;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  text-transform: uppercase;
  width: 100%;
}
.deathinspace.sheet.actor .belongings-tab .armor .armor-row {
  display: flex;
  flex: 0 0 24;
  flex-direction: row;
}
.deathinspace.sheet.actor .belongings-tab .armor .armor-name {
  padding-left: 5px;
  flex-basis: 35%;
}
.deathinspace.sheet.actor .belongings-tab .armor .armor-protects-against {
  border-left: 1px dotted black;
  text-align: center;
  flex-basis: 40%;
}
.deathinspace.sheet.actor .belongings-tab .armor .armor-dr-bonus {
  border-left: 1px dotted black;
  text-align: center;
  flex-basis: 15%;
}
.deathinspace.sheet.actor .belongings-tab .armor .armor-slots {
  border-left: 1px dotted black;
  flex-basis: 10%;
  text-align: center;
}
.deathinspace.sheet.actor .belongings-tab .slots-total {
  display: flex;
  flex-direction: column;
}
.deathinspace.sheet.actor .belongings-tab .slots-total .slots-total-header {
  border-top: 2px solid black;
  display: flex;
  flex: 0 0 24;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
}
.deathinspace.sheet.actor .belongings-tab .slots-total .slots-total-row {
  display: flex;
  flex: 0 0 24;
  width: 100%;
}
.deathinspace.sheet.actor .belongings-tab .slots-total .slots-text {
  flex-basis: 90%;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
.deathinspace.sheet.actor .belongings-tab .slots-total .slots-total {
  border-left: 1px dotted black;
  flex-basis: 10%;
  text-align: center;
}
.deathinspace.sheet.actor .belongings-tab .holo-row {
  border-top: 2px solid black;
  display: flex;
  flex: 0 0 50px;
}
.deathinspace.sheet.actor .belongings-tab .holo-row .holos {
  flex: 1;
}
.deathinspace.sheet.actor .belongings-tab .holo-row .debt {
  flex: 1;
}