form(class="{{cssClass}}")
  include includes/header.pug
  include includes/tabs.pug
  
  section.sheet-body 

    include includes/notes-tab.pug

    div(class="tab data-tab" data-group="primary" data-tab="data")
      .data-wrapper
        include includes/slots-and-cost.pug
        .form-group 
          label
            | Condition (Max)
          input(type="number" name="system.condition.max" value="{{data.system.condition.max}}" placeholder="0" data-dtype="Number")        
        .form-group 
          label
            | Condition (Current)
          input(type="number" name="system.condition.value" value="{{data.system.condition.value}}" placeholder="0" data-dtype="Number")
        .form-group 
          label
            | Addictive
          | <input type="checkbox" name="system.addictive" {{checked data.system.addictive}}/> 

