form(class="{{cssClass}}")
  include includes/header.pug
  include includes/tabs.pug
  
  section.sheet-body 

    include includes/notes-tab.pug 

    div(class="tab data-tab" data-group="primary" data-tab="data")
      .data-wrapper
        .form-group 
          label
            | Hub Type
          select(name="system.hubType" data-dtype="String")
            | {{#select data.system.hubType}}
            option(value="spacecraft") spacecraft
            option(value="station") station
            | {{/select}}
        .form-group 
          label
            | Size
          input(type="number" name="system.size" value="{{data.system.size}}" placeholder="0" data-dtype="Number")        
        .form-group 
          label
            | Condition
          input(type="number" name="system.condition" value="{{data.system.condition}}" placeholder="0" data-dtype="Number")        
        .form-group 
          label
            | Defense Rating
          input(type="number" name="system.defenseRating" value="{{data.system.defenseRating}}" placeholder="0" data-dtype="Number")        
        .form-group 
          label
            | Fuel Depot
          input(type="number" name="system.fuelDepot" value="{{data.system.fuelDepot}}" placeholder="0" data-dtype="Number")        
        .form-group 
          label
            | Availability 
          select(name="system.availability" data-dtype="String")
            | {{#select data.system.availability}}
            option(value="common") common
            option(value="unusual") unusual
            option(value="rare") rare
            option(value="very rare") very rare
            option(value="unique") unique
            | {{/select}}      
