form(class="{{cssClass}}")
  include includes/header.pug
  include includes/tabs.pug
  
  section.sheet-body 

    include includes/notes-tab.pug

    div(class="tab data-tab" data-group="primary" data-tab="data")
      .data-wrapper
        .form-group 
          label
            | Module Type 
          select(name="data.moduleType" data-dtype="String")
            | {{#select data.system.moduleType}}
            option(value="confrontation") confrontation
            option(value="core function") core function
            option(value="general") general
            option(value="tech") tech
            | {{/select}}
        .form-group 
          label
            | Range 
          select(name="data.range" data-dtype="String")
            | {{#select data.system.range}}
            option(value="") -
            option(value="boarding") boarding
            option(value="firing") firing
            option(value="within star system") within star system
            | {{/select}}
        .form-group 
          label
            | Power Cost 
          input(type="number" name="system.powerCost" value="{{data.system.powerCost}}" placeholder="1" data-dtype="Number")
