form(class="{{cssClass}}")
  include includes/header.pug
  include includes/tabs.pug
  
  section.sheet-body 

    include includes/notes-tab.pug

    div(class="tab data-tab" data-group="primary" data-tab="data")
      .data-wrapper
        include includes/slots-and-cost.pug
