form(class="{{cssClass}}")
  include includes/header.pug
  include includes/tabs.pug
  
  section.sheet-body 
    include includes/notes-tab.pug

    div(class="tab data-tab" data-group="primary" data-tab="data")
      .data-wrapper
        .form-group 
          label
            | Hub Type
          select(name="system.hubType" data-dtype="String")
            | {{#select data.system.hubType}}
            option(value="spacecraft") spacecraft
            option(value="station") station
            | {{/select}}
        .form-group 
          label
            | Speed 
          select(name="system.speed" data-dtype="String")
            | {{#select data.system.speed}}
            option(value="") -
            option(value="slow") slow
            option(value="fast") fast
            option(value="bridging") bridging
            option(value="unknown") unknown
            | {{/select}}
        .form-group 
          label
            | Requirement
          input(type="text" name="system.requirement" value="{{data.system.requirement}}" placeholder="" data-dtype="String")
        .form-group 
          label
            | Output Power
          input(type="number" name="system.outputPower" value="{{data.system.outputPower}}" placeholder="0" data-dtype="Number")
        .form-group 
          label
            | Availability 
          select(name="system.availability" data-dtype="String")
            | {{#select data.system.availability}}
            option(value="common") common
            option(value="unusual") unusual
            option(value="rare") rare
            option(value="very rare") very rare
            option(value="unique") unique
            | {{/select}}