form(class="{{cssClass}}")
  include includes/header.pug
  include includes/tabs.pug
  
  section.sheet-body 
    include includes/notes-tab.pug

    div(class="tab data-tab" data-group="primary" data-tab="data")
      .data-wrapper
        include includes/slots-and-cost.pug
        .form-group 
          label
            | Condition (Current)
          input(type="number" name="system.condition.value" value="{{data.system.condition.value}}" placeholder="0" data-dtype="Number")        
        .form-group 
          label
            | Condition (Max)
          input(type="number" name="system.condition.max" value="{{data.system.condition.max}}" placeholder="0" data-dtype="Number")        
        .form-group 
          label
            | Ammo (Current)
          input(type="number" name="system.ammo.value" value="{{data.system.ammo.value}}" placeholder="0" data-dtype="Number")          
        .form-group 
          label
            | Ammo (Max)
          input(type="number" name="system.ammo.max" value="{{data.system.ammo.max}}" placeholder="0" data-dtype="Number")          
        .form-group 
          label
            | Damage
          input(type="text" name="system.damage" value="{{data.system.damage}}" placeholder="1d4" data-dtype="String")
        .form-group 
          label
            | Ability
          select(name="system.ability" data-dtype="String")
            | {{#select data.system.ability}}
            option(value="body") body
            option(value="dexterity") dexterity
            option(value="savvy") savvy
            option(value="tech") tech
            | {{/select}}
