.belongings-wrapper 
  .add-row
    a(class="add-belonging" title="Add Belonging")
      i.fas.fa-plus
      | {{localize "DIS.Add"}}

  .equipment.item-list 
    .equipment-header
      .equipment-name
        | {{localize "DIS.Equipment"}}
      .equipment-condition 
        | {{localize "DIS.Condition"}}
      .equipment-slots 
        | {{localize "DIS.Slots"}}
      .item-controls 
        | &nbsp;
      
    | {{#each data.data.equipment as |item id|}}
    .equipment-row.item(class="{{item.data.brokenClass}}" data-item-id="{{item._id}}")
      .equipment-name.item-edit.rollable
        | {{add id 1}}. {{item.name}}
      .equipment-condition 
        | {{#if item.data.condition.max}}
        a.item-control.item-condition 
          i.fas.fa-dice-six
        input(type="number" min="0" max="{{ item.data.condition.max}}" step="1" class="inline-edit" data-mod="data.condition.value" name="item.data.condition.value" value="{{item.data.condition.value}}" data-dtype="Number")
        |  / {{ item.data.condition.max}}
        | {{else}}
        | -
        | {{/if}}
      .equipment-slots 
        | {{#if item.data.equippable}}
        | {{#if item.data.equipped}}
        | -
        a.item-control.item-equip.equipped(title="Unequip")
          i.fas.fa-shield-alt
        | {{else}}
        | {{item.data.slots}}
        a.item-control.item-equip.unequipped(title="Equip")
          i.fas.fa-shield-alt
        | {{/if}}
        | {{else}}
        | {{#if item.data.slots}}
        | {{ item.data.slots}}
        | {{else}}
        | -
        | {{/if}}
        | {{/if}}
      .item-controls
        a.item-control.item-edit
          i.fas.fa-edit                          
        a.item-control.item-delete
          i.fas.fa-trash  
    | {{/each}}
  .weapons.item-list 
    | {{#each data.data.weapons as |item id|}}
    .weapon-header 
      .weapon-name 
        | {{localize "DIS.Weapon"}} {{add id 1}}
      .weapon-attack 
        | &nbsp;
      .weapon-damage 
        | {{localize "DIS.Damage"}} 
      .weapon-ammo 
        | {{localize "DIS.Ammo"}} 
      .weapon-condition   
        | {{localize "DIS.Condition"}}
      .weapon-slots 
        | {{localize "DIS.Slots"}}
      .item-controls 
        | &nbsp;
    .weapon-row.item(class="{{item.data.brokenClass}}" data-item-id="{{item._id}}") 
      .weapon-name.item-edit.rollable
        | {{item.name}}
      .weapon-attack.rollable 
        | {{localize "DIS.AttackAbbrev"}}
      .weapon-damage.rollable 
        | {{item.data.damage}}
      .weapon-ammo 
        | {{#if item.data.ammo.max}}
        input(type="number" min="0" max="{{ item.data.ammo.max}}" class="inline-edit" data-mod="data.ammo.value" name="item.data.ammo.value" value="{{item.data.ammo.value}}" data-dtype="Number")
        |  / {{ item.data.ammo.max}} 
        | {{else}}
        | -
        | {{/if}}
      .weapon-condition
        | {{#if item.data.condition.max}}
        a.item-control.item-condition 
          i.fas.fa-dice-six
        input(type="number" min="0" max="{{ item.data.condition.max }}" class="inline-edit" data-mod="data.condition.value" name="item.data.condition.value" value="{{item.data.condition.value}}" data-dtype="Number")
        |  / {{ item.data.condition.max}}
        | {{else}}
        | -
        | {{/if}}
      .weapon-slots 
        | {{item.data.slots}}
      .item-controls
        a.item-control.item-edit
          i.fas.fa-edit                          
        a.item-control.item-delete
          i.fas.fa-trash                          
    | {{/each}}
  .armor.item-list 
    | {{#each data.data.armor as |item id|}}
    .armor-header 
        .armor-name 
          | {{localize "DIS.ArmorType"}}
        .armor-protects-against 
          | {{localize "DIS.ProtectsAgainst"}}
        .armor-dr-bonus 
          | {{localize "DIS.DRBonus"}}
        .armor-slots 
          | {{localize "DIS.Slots"}}
        .item-controls 
          | &nbsp;                
    .armor-row.item(data-item-id="{{item._id}}")
      .armor-name.item-edit.rollable 
        | {{item.name}}
      .armor-protects-against 
        | {{item.data.protectsAgainst}}
      .armor-dr-bonus 
        | {{item.data.defenseRatingBonus}}
      .armor-slots 
        | {{#if item.data.equippable}}
        | {{#if item.data.equipped}}
        | -
        a.item-control.item-equip.equipped(title="Unequip")
          i.fas.fa-shield-alt
        | {{else}}
        | {{item.data.slots}}
        a.item-control.item-equip.unequipped(title="Equip")
          i.fas.fa-shield-alt
        | {{/if}}
        | {{else}}
        | {{item.data.slots}}
        | {{/if}}
      .item-controls
        a.item-control.item-edit
          i.fas.fa-edit                          
        a.item-control.item-delete
          i.fas.fa-trash  
    | {{/each}}
  .slots-total
    .slots-total-header
      .slots-text 
        | &nbsp;
      .slots-total 
        | {{localize "DIS.Total"}}
      .item-controls
        | &nbsp;
    .slots-total-row
      .slots-text 
        | &#10071; {{localize "DIS.SlotsHelp"}}
      .slots-total 
        | {{data.data.totalSlots}}/{{data.data.maxSlots}}
      .item-controls
        | &nbsp;
  .holo-row 
    .stat-block.holos 
      label {{localize "DIS.Holos"}}
      input(type="number" class="stat-input" name="data.holos" value="{{data.data.holos}}" data-dtype="Number")
    .stat-block.debt 
      label {{localize "DIS.Debt"}}
      input(type="number" class="stat-input" name="data.debt" value="{{data.data.debt}}" data-dtype="Number")
