form.custom-dialog.ability-check-dialog
  .form-group(class="{{voidPointsClass}}")
    label
      | {{ localize "DIS.UseVoidPoint" }}?
    div
      | {{#if hasVoidPoints}}
      input(name="use-void-point" type="checkbox" value="1")
      | {{else}}
      input(name="use-void-point" type="checkbox" value="1" disabled="disabled")
      | {{/if}}
  .form-group 
    label
      | {{ localize "DIS.RollType" }}
    ul
      li
        label
          input(name="roll-type" type="radio" value="normal" checked)
          div
            | {{ localize "DIS.RollTypeNormal" }}
      li
        label 
          input(name="roll-type" type="radio" value="advantage")
          div
            | {{ localize "DIS.RollTypeAdvantage" }}
      li
        label
          input(name="roll-type" type="radio" value="disadvantage")
          div
            | {{ localize "DIS.RollTypeDisadvantage" }}

  .form-group 
    label
      | {{ localize "DIS.Opposed" }}?
    div
      input(name="opposed" type="checkbox" value="1")

  .button-row
    button(class="ability-check-button" name="ability-check-button")
      | {{ localize "DIS.Roll" }}