form.custom-dialog.add-item-dialog(action="")
  .form-group
    label {{ localize "DIS.ItemName" }}
    input(type="text" name="itemname" value="" placeholder="{{ localize 'DIS.Name' }}" data-dtype="String") 

  .form-group
    label {{ localize "DIS.ItemType" }}
    select.add-type(name="itemtype") 
      option(value="armor") {{ localize "DIS.ItemTypeArmor" }}
      option(value="equipment" selected=true) {{ localize "DIS.ItemTypeEquipment" }}
      option(value="weapon") {{ localize "DIS.ItemTypeWeapon" }}

  .button-row
    button(type="button" class="add-item-button" name="add-item-button")
      | {{ localize "DIS.Add" }}