form.custom-dialog.attack-dialog
  .form-group 
    label
      | {{ localize "DIS.DefenderDR" }}
    div
      input(type="number" name="defender-dr" value="{{defenderDR}}" data-dtype="Number")

  .form-group(class="{{voidPointsClass}}")
    label
      | {{ localize "DIS.UseVoidPoint" }}?
    div
      | {{#if hasVoidPoints}}
      input(name="use-void-point" type="checkbox" value="1")
      | {{else}}
      input(name="use-void-point" type="checkbox" value="1" disabled="disabled")
      | {{/if}}

  .form-group 
    label
      | {{ localize "DIS.RollType" }}
    ul
      li
        label
          input(name="roll-type" type="radio" value="normal" checked)
          div
            | {{ localize "DIS.RollTypeNormal" }}
      li
        label 
          input(name="roll-type" type="radio" value="advantage")
          div
            | {{ localize "DIS.RollTypeAdvantage" }}
      li
        label
          input(name="roll-type" type="radio" value="disadvantage")
          div
            | {{ localize "DIS.RollTypeDisadvantage" }}

  .form-group 
    label
      | {{ localize "DIS.RiskyAttack" }}?
    div
      input(name="risky" type="checkbox" value="1")

  .button-row
    button(type="submit" class="attack-button" name="Attack")
      | {{ localize "DIS.Attack" }}