/* ====================== */
/* Actor sheet */
/* ====================== */
.deathinspace.sheet.actor {
  .sheet-header {
    height: 80px;
  }
  .header-row {
    display: flex;
    height: 80px;
    .col1 {
      flex: 1;
      margin: 0;
      padding: 10px;
      .game-title {
        font-family: var(--title-font);
        font-size: 36px;
      }  
    }
    .col2 {
      border-left: 2px solid black;
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      margin: 0;
      padding: 10px;
    }  
  }  
  .stat-block {
    padding: 2px;
    label {
      display: block;
      float: left;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  .item-controls {
    display: flex;
    flex: 0 0 50px;
    justify-content: flex-end;
    a {
      margin-right: 5px;
    }
  }
}