.deathinspace.sheet.character form {
    border: 4px solid #eb1c26;
}
.deathinspace.sheet.actor.character .header-row .col1 .game-title {
    color: #eb1c26;
}
.deathinspace.sheet.actor.character .header-row .col1 .sheet-title {
    color: #eb1c26;
}  
.deathinspace.sheet.actor.character .sheet-tabs {
    background: #eb1c26;
    border-bottom: 1px solid #eb1c26;
    border-top: 1px solid #eb1c26;
    color: white;
  }
.deathinspace.sheet.actor.character .sheet-tabs .item:hover {
    color: white;
    text-shadow: 0 0 10px #eb1c26;
}
.deathinspace.sheet.actor.character .sheet-tabs .item.active {
    background-color: white;
    color: #eb1c26;
}
.deathinspace.sheet.actor.character .sheet-tabs .item:hover {
    color: white;
    text-shadow: 0 0 10px #eb1c26;
}
/* ====================== */
/* Character sheet - Personal tab */
/* ====================== */
.deathinspace.sheet.actor.character .personal-wrapper {
    display: inline-grid;
    grid-template-columns: 25% 50% 25%;
    /* TODO: figure out expandable rows */
    grid-template-rows: 37px 60px 50px 50px 50px 50px 50px 55px 55px 55px;
}
.deathinspace.sheet.actor.character .personal-tab .origin-row {
  border-bottom: 2px solid black;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  padding-top: 6px;
}
.deathinspace.sheet.actor.character .personal-tab div.origin-label {
  border-right: 1px dotted #000;
  flex: 0 0 80px;
  text-align: center;
}
.deathinspace.sheet.actor.character .personal-tab div.origin {
  padding-left: 10px;
}
.deathinspace.sheet.actor.character .personal-tab .name-row {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}
.deathinspace.sheet.actor.character .personal-tab .name-block {

}
.deathinspace.sheet.actor.character .personal-tab .nickname-block {

}
.deathinspace.sheet.actor.character .personal-tab .origin-benefit-block {
  border-bottom: 2px solid black;
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 6;
}
.deathinspace.sheet.actor.character .personal-tab .xp-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 3;
}
.deathinspace.sheet.actor.character .personal-tab .background-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 2;
  grid-row-start: 3;
}
.deathinspace.sheet.actor.character .personal-tab .past-allegiance-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 4;
}
.deathinspace.sheet.actor.character .personal-tab .trait-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 2;
  grid-row-start: 4;
}
.deathinspace.sheet.actor.character .personal-tab .drive-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 5;
}
.deathinspace.sheet.actor.character .personal-tab .looks-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 2;
  grid-row-start: 5;
  grid-row-end: 8;
}
.deathinspace.sheet.actor.character .personal-tab .ability-block {
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 6;
  grid-row-end: 11;
}
.deathinspace.sheet.actor.character .personal-tab .ability-col {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  padding: 5px;
}
.deathinspace.sheet.actor.character .personal-tab .ability-row {
  display: flex;
}
.deathinspace.sheet.actor.character .personal-tab .ability-name {
  flex: 1;
  font-weight: bold;
}
.deathinspace.sheet.actor.character .personal-tab .ability-value {
  flex: 0 0 50px;
}
.deathinspace.sheet.actor.character .personal-tab .ability-value input[type="number"], 
.deathinspace.sheet.actor.character .personal-tab input[type="number"].stat-input  {
  text-align: center;
}
.deathinspace.sheet.actor.character .personal-tab .portrait-block {
  grid-column-start: 3;
  grid-row-start: 6;
  grid-row-end: 11;
}
.deathinspace.sheet.actor.character .personal-tab .portrait-col {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
}
.deathinspace.sheet.actor.character .personal-tab .portrait {

}
.deathinspace.sheet.actor.character .personal-tab .portrait-image {

}
.deathinspace.sheet.actor.character .personal-tab .defense-row {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  grid-column-start: 2;
  grid-row-start: 8;
  padding: 2px;
  width: 100%;
}
.deathinspace.sheet.actor.character .personal-tab .defense-text {
  border-right: 1px dotted black;
  flex: 1;
}
.deathinspace.sheet.actor.character .personal-tab .defense-value {
  flex: 0 0 100px;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-row {
  border-right: 2px solid black;
  display: flex;
  grid-column-start: 2;
  grid-row-start: 9;
  grid-row-end: 11;
  padding: 2px;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-text {
  flex: 1;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-current-col {
  border-right: 1px dotted black;
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  text-align: center;
}
.deathinspace.sheet.actor.character .personal-tab .hit-points-max-col {
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  text-align: center;
}
/* ====================== */
/* Character sheet - Situation tab */
/* ====================== */
.deathinspace.sheet.actor.character .situation-wrapper {
  display: inline-grid;
  grid-template-columns: 65% 35%;
  /* TODO: figure out expandable rows */
  grid-template-rows: 90px 50px 50px 50px 50px 50px 50px 50px 74px;
}
.deathinspace.sheet.actor.character .situation-tab .void-points-block {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
}
.void-points-block .void-col-1 {
  display: flex;
  flex: 0 0 200;
  flex-direction: column;
}
.void-points-block .void-col-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
}
.void-points-block .void-points-radios {
  flex: 0 0 30px;
  padding-left: 5px;
}
.void-points-radios ul.void-points {
  list-style-type: none;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  float: left;
}
.void-points-radios ul.void-points li {
  float: left;
}
.void-points-radios ul.void-points label {
  display: block;
  padding: 4px;
  position: relative;
  padding-left: 27px;
}
.void-points-radios ul.void-points label input[type="radio"] {
  display: none;
}
.void-points-radios ul.void-points input[type="radio"]:checked + span {
  background: var(--highlight-background-color);
  color: var(--highlight-foreground-color);
  border: none;
}
.void-points-radios ul.void-points label span {
  border: 1px solid #7a7971;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
  line-height: 1.5;
  text-align: center;
  border-radius: 100%;
  font-size: 10pt;
  /*font-family: var(--item-font);*/
  left: 0;
  top: 50%;
}
.void-points-radios ul.miseries li:last-child label span {
  background: var(--foreground-color);
  color: var(--background-color);
}
.void-points-block .void-points-roll {
  flex: 0 0 50px;
  padding-right: 14px;
  text-align: right;
  width: 100%;
  font-size: 11px;
}
.void-points-block span.void-points-up-arrow {
  font-size: 20px;
  font-weight: 700;
}
.void-points-block .void-points-text-top {
  /* TODO: get IBM Plex Mono to work with font-weight */
  font-family: monospace;
  font-size: 13px;
  font-weight: bold;
}
.void-points-block .void-points-text-bottom {
  font-size: 12px;
}
.deathinspace.sheet.actor.character .situation-tab .addiction-block {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 6;
}
.addiction-block .addiction-title {

}
.addiction-block .days-without {
  font-size: 11px;
  text-align: center;
}
.addiction-block div.days-radios {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.days-radios .day-radio {
  text-align: center;
}
.days-radios .day-radio .day-plus {
  font-size: 11px;
}
.addiction-block .substance-title {
  flex: 0 0 10px;
}
.addiction-block .substance-row {
  border-bottom: 1px dotted black;
  flex: 0 0 25px;
  margin-bottom: 4px;
}
.addiction-block div.addiction-text {
  font-size: 12px;
  padding: 10px;
}
.deathinspace.sheet.actor.character .situation-tab .cosmic-mutations-block {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 6;
}
.cosmic-mutations-block .mutations-title {
  flex: 0 0 10px;
}
.cosmic-mutations-block .mutations-row {
  border-bottom: 1px dotted black;
  flex: 0 0 44px;
}
.cosmic-mutations-block div.mutations-row:nth-last-child(1) {
  border-bottom: none;
}
.deathinspace.sheet.actor.character .situation-tab .void-corruption-block {
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 6;
  grid-row-end: 10;
}
.void-corruption-block .corruption-title {
  flex: 0 0 10px;
}
.void-corruption-block .corruption-row {
  border-bottom: 1px dotted black;
  flex: 0 0 44px;
}
/*.void-corruption-block div.corruption-row:nth-last-child(1) {
  border-bottom: none;
}*/
.deathinspace.sheet.actor.character .situation-tab .life-support-block {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-row-start: 6;
  grid-row-end: 10;
}
.life-support-block .oxygen-tank-row {
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
}
.oxygen-tank-row .oxygen-numbers {
  display: flex;
  flex: 0 0 20px;
  font-size: 11px;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 70px;
}
.oxygen-tank-row .oxygen-tank {
  background-image: url("../images/oxygen_tank.png");
  background-repeat: no-repeat;
  background-size: contain;
  flex: 0 0 58px;
  height: 58px;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
.oxygen-tank-row .oxygen-tank .oxygen-increments {
  display: flex;
  padding-left: 17px;
  padding-top: 6px;
}
.oxygen-tank-row .oxygen-tank .oxygen-increments .increment {
  border-right: 1px dotted black;
  height: 45px;
  padding-top: 12px;
  width: 24px;
} 
.oxygen-tank-row .oxygen-tank .oxygen-increments .increment:nth-last-child(1) {
  border-right: none;
}
.life-support-block .tank-space {
  flex: 1;
}
/* ====================== */
/* Character sheet - Belongings tab */
/* ====================== */
.deathinspace.sheet.actor.character .belongings-wrapper {
  display: flex;
  flex-direction: column;
}
.belongings-tab .big-items {
  display: flex;
  padding: 8px;
}
.belongings-tab .col-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.belongings-tab .col-spacer {
  flex: 0 0 20px;
}
.belongings-tab .col-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.big-items .item-row {
  display: flex;
  flex: 0 0 24px;
  margin-top: 4px;
}
.big-items .item-row.total-slots {
  display: block;
  padding-top: 4px;
  text-align: center;
  width: 100%;
}
.big-items .item-row .num {
  flex: 0 0 30px;
}
.big-items .item-row .item {
  border-bottom: 1px dotted black;
  flex: 1;
}
.belongings-tab .small-items {
  border-bottom: 2px solid black;
  flex: 0 0 100px;
  padding-left: 15px;
  padding-right: 15px;
}
.belongings-tab .holo-row {
  display: flex;
  flex: 0 0 50px;
}
.belongings-tab .holo-row .holos {
  flex: 1;
}
.belongings-tab .holo-row .debt {
  flex: 1;
}
/* ====================== */
/* Character sheet - Weaponry tab */
/* ====================== */
.deathinspace.sheet.actor.character .weaponry-wrapper {
  padding: 10px;
}
.weaponry-wrapper table {
  background: none;
}
.weaponry-wrapper table thead {
  background: none;
}
.weaponry-wrapper table tr {
  height: 40px;
}
.weaponry-wrapper table.weapons th.name {
  padding-left: 20px;
  text-align: left;
  width: 55%;
}
.weaponry-wrapper th {
  background: none;
  border: none;
  border-bottom: none;
  color: black;
  text-shadow: none;
}
.weaponry-wrapper th.damage {
  width: 15%;
}
.weaponry-wrapper th.units {
  width: 15%;
}
.weaponry-wrapper th.condition {
  width: 15%;
}
.weaponry-wrapper table.armor {
  margin-top: 30px;
}
.weaponry-wrapper table.armor th.name {
  padding-left: 20px;
  text-align: left;
  width: 40%;  
}
.weaponry-wrapper table.armor th.protects-against {
  width: 30%;
}
.weaponry-wrapper th.dr-bonus {
  width: 15%;
}
.weaponry-wrapper td.condition,
.weaponry-wrapper td.damage,
.weaponry-wrapper td.units,
.weaponry-wrapper td.dr-bonus {
  border-left: 1px dotted black;
}
/* ====================== */
/* Character sheet - Notes tab */
/* ====================== */
.deathinspace.sheet.actor.character .notes-tab {
}
.deathinspace.sheet.actor.character .notes-wrapper {
  /* TODO: figure out how to get 100% height working */;
  height: 520px;
}
.deathinspace .editor,
.deathinspace .editor-content {
  height: 100%;
}
.deathinspace.sheet .editor {
  padding: 0 8px;
}