// old blue 32a6d2
// new blue 3a8cb8
.deathinspace.sheet.hub {
  form {
    border: 4px solid #3a8cb8;
  }
  .sheet-tabs {
    background: #3a8cb8;
    border-bottom: 1px solid #3a8cb8;
    border-top: 1px solid #3a8cb8;
    color: white;
    .item:hover {
      color: black;
      text-shadow: 0 0 10px white;
    }
    .item.active {
      background-color: white;
      border-bottom: 1px solid #3a8cb8;
      color: #3a8cb8;
    }  
  }
  .portrait img {
    height: 100%;
    width: 100%;
  }
  input.power {
    text-align: center;
    width: 100px;
  }
}
.deathinspace.sheet.actor.hub {
  .header-row {
    .col1 {
      .game-title {
        color: #3a8cb8;
      }
      .sheet-title {
        color: #3a8cb8;
      }
    }
  }
}
