.deathinspace.sheet.hub {
  form {
    border: 4px solid #32a6d2;
  }
  .sheet-tabs {
    background: #32a6d2;
    border-bottom: 1px solid #32a6d2;
    border-top: 1px solid #32a6d2;
    color: white;
    .item:hover {
      color: white;
      text-shadow: 0 0 10px #32a6d2;
    }
    .item.active {
      background-color: white;
      color: #32a6d2;
    }
  }
  .portrait img {
    height: 100%;
    width: 100%;
  }
  input.power {
    text-align: center;
    width: 100px;
  }
}
.deathinspace.sheet.actor.hub {
  .header-row {
    .col1 {
      .game-title {
        color: #32a6d2;
      }
      .sheet-title {
        color: #32a6d2;
      }
    }
  }
}
