.deathinspace.sheet.hub form {
    border: 4px solid #32a6d2;
}
.deathinspace.sheet.actor.hub .header-row .col1 .game-title {
    color: #32a6d2;
}
.deathinspace.sheet.actor.hub .header-row .col1 .sheet-title {
  color: #32a6d2;
}
.deathinspace.sheet.hub .sheet-tabs {
  background: #32a6d2;
  border-bottom: 1px solid #32a6d2;
  border-top: 1px solid #32a6d2;
  color: white;
}
.deathinspace.sheet.hub .sheet-tabs .item:hover {
  color: white;
  text-shadow: 0 0 10px #32a6d2;
}
.deathinspace.sheet.hub .sheet-tabs .item.active {
  background-color: white;
  color: #32a6d2;
}
.deathinspace.sheet.hub .portrait img {
  height: 100%;
  width: 100%;
}
/* ====================== */
/* Hub sheet - Specifics tab */
/* ====================== */
.deathinspace.sheet.actor.hub .specifics-wrapper {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  /* TODO: figure out expandable rows */
  grid-template-rows: 50px 100px 50px;
  width: 100%;
}
.deathinspace.sheet.actor.hub .specifics-tab .nickname-block {
  border-bottom: 2px solid #32a6d2;
  border-right: 2px solid black;
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
}
.deathinspace.sheet.actor.hub .specifics-tab .hub-type-block {
  border-bottom: 2px solid #32a6d2;
  grid-column-start: 2;
  grid-row-start: 1;
}
.deathinspace.sheet.actor.hub .specifics-tab .background-block {
  border-bottom: 2px solid #32a6d2;
  border-right: 2px solid black;
  grid-column-start: 1;
  grid-row-start: 2;
}
.deathinspace.sheet.actor.hub .specifics-tab .appearance-block {
  border-bottom: 2px solid #32a6d2;
  grid-column-start: 2;
  grid-row-start: 2;
}
.deathinspace.sheet.actor.hub .specifics-tab .quirks-block {
  border-bottom: 2px solid #32a6d2;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}
/* ====================== */
/* Hub sheet - Hub data tab */
/* ====================== */
.deathinspace.sheet.actor.hub .hub-data-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hub-data-wrapper .frame-integrity-row {
  border-bottom: 2px solid #32a6d2;
  display: flex;
  flex: 0 0 80px;
}
.hub-data-wrapper .frame-integrity-row .frame-integrity {
  border-right: 1px dotted black;
  flex: 0 0 90px;
  padding-left: 5px;
  padding-top: 5px;
}
.hub-data-wrapper .frame-integrity-row .integrity-increment {
  border-right: 1px dotted black;
  flex: 0 0 40px;
  display: flex;
  flex-direction: column;
}
.hub-data-wrapper .frame-integrity-row div.integrity-increment:nth-child(12) {
  border-right: 2px solid black;
}
.integrity-increment label {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.integrity-increment .integrity-radio {
  flex: 1;
  padding-right: 5px;
  padding-top: 25px;
}
.integrity-increment .integrity-percent {
  display: none;
  flex: 0 0 20px;
}
.integrity-increment:nth-child(2) .integrity-percent,
.integrity-increment:nth-child(7) .integrity-percent,
.integrity-increment:nth-child(12) .integrity-percent {
  background-color: #32a6d2;
  color: white;
  display: block;
}
.hub-data-wrapper .frame-integrity-row .defense-rating {
  flex: 0 0 150px;
  padding-left: 5px;
  padding-top: 5px;
}
.hub-data-wrapper .frame-integrity-row .defense-rating input.defense-rating {
  text-align: center;
  width: 118px;
}
.hub-data-wrapper .roll-on-damage-row {
  border-bottom: 2px solid #32a6d2;
  display: flex;
  flex: 0 0 50px;
  font-size: 12px;
}
.hub-data-wrapper .roll-on-damage-row .col1 {
  flex: 0 0 130px;
  text-align: right;
}
.hub-data-wrapper .roll-on-damage-row .col2 {
  flex: 0 0 200px;
  text-align: right;
}
.hub-data-wrapper .roll-on-damage-row .col3 {
  border-right: 1px dotted black;
  flex: 0 0 160px;
}
.hub-data-wrapper .roll-on-damage-row .col4 {
  flex: 1;
  padding-left: 5px
}
.hub-data-wrapper .condition-row {
  border-bottom: 2px solid #32a6d2;
  display: flex;
  flex: 0 0 80px;
}
.hub-data-wrapper .condition-row .condition {
  border-right: 2px solid black;
  display: flex;
  flex: 0 0 210px;
  flex-direction: column;
  padding: 5px;
}
.hub-data-wrapper .condition-row .label-row {
  display: flex;
  flex: 0 0 30px;
}
.hub-data-wrapper .condition-row .field-row {
  display: flex;
  flex: 1;
}
.hub-data-wrapper .condition-row .col1 {
  flex: 1;
}
.hub-data-wrapper .condition-row .col2 {
  flex: 0 0 55px;
  font-size: 12px;
  text-align: center;
}
.hub-data-wrapper .condition-row .col3 {
  flex: 0 0 55px;
  font-size: 12px;
  text-align: center;
}
.hub-data-wrapper .condition-row .fuel {
  border-right: 2px solid black;
  display: flex;
  flex: 0 0 180px;
  flex-direction: column;
  padding: 5px;
}
.hub-data-wrapper .condition-row .power-source {
  border-right: 1px dotted black;
  display: flex;
  flex: 0 0 200px;
  padding: 5px;
}
.hub-data-wrapper .condition-row .power-source .source-label {
  flex: 1;
}
.hub-data-wrapper .condition-row .power-source .source-radios {
  display: flex;
  flex: 0 0 80px;
  flex-direction: column;
  font-size: 11px;
  justify-content: space-around;
  text-align: right;
}
.hub-data-wrapper .condition-row .output-power {
  flex: 1;
  padding: 5px;
}
.hub-data-wrapper .modules-block {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}
.modules-block .col1 {
  flex: 1;
}
.modules-block .col2 {
  flex: 0 0 100px;
}
.modules-block .title-row {
  display: flex;
  flex: 0 0 30px;
  width: 100%;
}
.modules-block .modules-list {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.modules-list .module-item {
  display: flex;
  flex: 0 0 30px;
  border-bottom: 1px dotted black;
  margin-top: 10px;
}
.modules-block .modules-total {
  display: flex;
  flex: 0 0 50px;
  font-size: 12px;
  margin-top: 15px;
}
/* ====================== */
/* Hub sheet - Layout tab */
/* ====================== */
.deathinspace.sheet.actor.hub .layout-wrapper {
  display: flex;
  height: 100%;
  border: 1px solid green;
  align-items: center;
  justify-content: center;
}
.layout-wrapper div.layout-img {
  height: 200px;
  width: 200px;  
  margin: 0;
  padding: 0;
  border: 1px solid blue;
}
/* ====================== */
/* Hub sheet - Notes tab */
/* ====================== */
.deathinspace.sheet.actor.hub .notes-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid blue;
}
