/* ====================== */
/* Hub sheet - Notes tab */
/* ====================== */
.deathinspace.sheet.actor.hub .notes-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
