/* ====================== */
/* Hub sheet - Specifics tab */
/* ====================== */

.deathinspace.sheet.actor.hub .specifics-tab {
  .specifics-wrapper {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    /* TODO: figure out expandable rows */
    grid-template-rows: 50px 120px 100px;
    width: 100%;
  }  
  .nickname-block {
    border-bottom: 2px solid var(--hub-background-color);
    border-right: 2px solid black;
    display: flex;
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .hub-type-block {
    border-bottom: 2px solid var(--hub-background-color);
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .background-block {
    border-bottom: 2px solid var(--hub-background-color);
    border-right: 2px solid black;
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .appearance-block {
    border-bottom: 2px solid var(--hub-background-color);
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .quirks-block {
    border-bottom: 2px solid var(--hub-background-color);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }
}
