form(class="{{cssClass}}")
  header.sheet-header
    .header-row
      .col1
        .game-title
          | DEATH IN SPACE
        .sheet-title
          | HUB DATA SHEET
      .col2
        div 
          | SECTION 0. OWNER INFORMATION 
        div.owner-sig
          input(class="owner-name" name="data.ownerName" type="text" value="{{data.data.ownerName}}" placeholder="{{ localize 'DIS.OwnerName' }}" spellcheck="false")

  nav(class="sheet-tabs tabs" data-group="primary")
    a(class="item" data-tab="specifics")
      | {{ localize 'DIS.TabSpecifics' }}
    a(class="item" data-tab="hub-data")
      | {{ localize 'DIS.TabHubData' }}
    a(class="item" data-tab="layout")
      | {{ localize 'DIS.TabLayout' }}
    a(class="item" data-tab="cargo")
      | {{ localize 'DIS.TabCargo' }}
    a(class="item" data-tab="notes")
      | {{ localize 'DIS.TabNotes' }}
  
  section.sheet-body 

    div(class="tab specifics-tab" data-group="primary" data-tab="specifics")
      .specifics-wrapper
        .nickname-block
          .stat-block
            label Nickname
            input(type="text" name="data.nickName" value="{{data.data.nickName}}" placeholder="" spellcheck="false")
        .hub-type-block
          .stat-block
            label Hub type and frame
            input(type="text" name="data.hubType" value="{{data.data.hubType}}" placeholder="" spellcheck="false")
        .background-block
          .stat-block
            label Background
            textarea(name="data.background")
              | {{data.data.background}}
        .appearance-block
          .stat-block
            label Appearance
            textarea(name="data.appearance")
              | {{data.data.appearance}}
        .quirks-block
          .stat-block
            label Quirks
            input(type="text" name="data.quirks" value="{{data.data.quirks}}" placeholder="" spellcheck="false")

    div(class="tab hub-data-tab" data-group="primary" data-tab="hub-data")
      .hub-data-wrapper
        .frame-integrity-row
          .frame-integrity
            | FRAME INTEGRITY
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="0" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 0}}true{{/ifEq}}")
              .integrity-percent
                | 0%
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="10" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 10}}true{{/ifEq}}")
              .integrity-percent
                | 10%
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="20" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 20}}true{{/ifEq}}")
              .integrity-percent
                | 20%
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="30" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 30}}true{{/ifEq}}")
              .integrity-percent
                | 30%
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="40" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 40}}true{{/ifEq}}")
              .integrity-percent
                | 40%
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="50" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 50}}true{{/ifEq}}")
              .integrity-percent
                | 50%
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="60" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 60}}true{{/ifEq}}")
              .integrity-percent
                | 60%
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="70" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 70}}true{{/ifEq}}")
              .integrity-percent
                | 70%
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="80" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 80}}true{{/ifEq}}")
              .integrity-percent
                | 80%
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="90" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 90}}true{{/ifEq}}")
              .integrity-percent
                | 90%
          .integrity-increment
            label
              .integrity-radio
                input(type="radio" name="data.frameIntegrity.value" value="100" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 100}}true{{/ifEq}}")
              .integrity-percent
                | 100%
          .defense-rating
            | DEFENSE RATING
            input(class="defense-rating" name="data.defenseRating" type="number" value="{{data.data.defenseRating}}" data-dtype="Number")
        .roll-on-damage-row 
          .col1
            | ROLL ON
            br
            | DAMAGE TABLE
          .col2 
            | ROLL ON
            br
            | DAMAGE TABLE
          .col3
          .col4
            | WHEN ALL IS CALM THE HUB
            br
            | REGAINS 1d4+10% INTEGRITY
        .condition-row 
          .condition
            .label-row
              .col1
                | CONDITION
              .col2 
                | CURRENT
              .col3
                | MAX
            .field-row
              .col1 
                | 
              .col2
                input(class="condition-current" name="data.condition.value" type="number" value="{{data.data.condition.value}}" data-dtype="Number")
              .col3
                input(class="condition-max" name="data.condition.max" type="number" value="{{data.data.condition.max}}" data-dtype="Number")
          .fuel 
            .label-row
              .col1
                | FUEL
              .col2 
                | CURRENT
              .col3
                | MAX
            .field-row
              .col1 
                | 
              .col2
                input(class="fuel-current" name="data.fuel.value" type="number" value="{{data.data.fuel.value}}" data-dtype="Number")
              .col3
                input(class="fuel-max" name="data.fuel.max" type="number" value="{{data.data.fuel.max}}" data-dtype="Number")
          .power-source 
            | POWER SOURCE
          .output-power
            | OUTPUT POWER
        .modules-row
          | modules

    div(class="tab layout-tab" data-group="primary" data-tab="layout")
      .layout-wrapper
        .portait
          .img(class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}")

    div(class="tab cargo-tab" data-group="primary" data-tab="cargo")
      .cargo-wrapper
        ol.items-list.cargo-list
          li.items-header.flexrow
            h3.item-name.flexrow
              | {{localize "DIS.Cargo"}}
            div.item-controls.flexrow
              a("item-control item-create" title="{{localize 'DIS.ItemCreate'}}")
                i.fas.fa-plus
                | {{localize "DIS.Add"}}
          ol.item-list
            | {{#each data.cargo as |item id|}} 
            li(class="item flexrow" data-item-id="{{item._id}}")
              img(src="{{item.img}}" title="{{item.name}}" width="24" height="24")
              h4.item-name.item-edit.rollable
                | {{item.name}}
            | {{/each}}

    div(class="tab notes-tab" data-group="primary" data-tab="notes")
      .notes-wrapper
        | Notes