/* ====================== */
/* Hub sheet - Hub data tab */
/* ====================== */
.deathinspace.sheet.actor.hub .hub-data-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .frame-integrity-row {
    border-bottom: 2px solid var(--hub-background-color);
    display: flex;
    flex: 0 0 80px;
    .frame-integrity {
      border-right: 1px dotted black;
      flex: 0 0 90px;
      padding-left: 5px;
      padding-top: 5px;
    }
    .integrity-increment {
      border-right: 1px dotted black;
      flex: 0 0 40px;
      display: flex;
      flex-direction: column;
    }
    div.integrity-increment:nth-child(12) {
      border-right: 2px solid black;
    }
    .integrity-increment label {
      display: flex;
      flex-direction: column;
      height: 100%;
      text-align: center;
    }
    .integrity-increment .integrity-radio {
      flex: 1;
      padding-right: 5px;
      padding-top: 25px;
    }
    .integrity-increment .integrity-percent {
      display: none;
      flex: 0 0 20px;
    }
    .integrity-increment:nth-child(2) .integrity-percent,
    .integrity-increment:nth-child(7) .integrity-percent,
    .integrity-increment:nth-child(12) .integrity-percent {
      background-color: var(--hub-background-color);
      color: white;
      display: block;
    }
    .defense-rating {
      align-items: center;
      display: flex;
      flex: 0 0 150px;
      flex-direction: column;
      padding: 5px;
      .title-row {
        flex: 0 0 30px;
      }
      .input-row {
        flex: 1;
      }
      input.defense-rating {
        text-align: center;
        width: 118px;
      }
    }
  } // frame-integrity-row

  .roll-on-damage-row {
    border-bottom: 2px solid var(--hub-background-color);
    display: flex;
    flex: 0 0 35px;
    font-size: 10px;
    .col1 {
      display: flex;
      flex: 1;
      flex-direction: column;
      .arrow-row {
        display: flex;
        color: var(--hub-background-color);
        font-size: 16px;
        font-weight: bold;
        flex: 0 0 15px;
        line-height: 15px;
        margin: 0;
        padding: 0;
        text-align: right;
        .arrow1 {
          flex: 0 0 113px;
        }
        .arrow2 {
          flex: 0 0 201px;
        }
      }
      .roll-text-row {
        display: flex;
        flex: 1;
        margin: 0;
        padding: 0;
        text-align: left;
        .spacer1 {
          flex: 0 0 74px;
        }
        .condition0 {
        }
        .spacer2 {
          flex: 0 0 110px;
        }
        .roll-on-text {
        }
      }
    }
    .col2 {
      border-left: 1px dotted black;
      flex: 0 0 217px;
      font-size: 10px;
      padding: 5px;
    }
  } // roll-on-damage-row

  .condition-row {
    border-bottom: 2px solid var(--hub-background-color);
    display: flex;
    flex: 0 0 80px;

    .condition {
      border-right: 2px solid black;
      display: flex;
      flex: 0 0 210px;
      flex-direction: column;
      padding: 5px;
    }
    .label-row {
      display: flex;
      flex: 0 0 30px;
    }
    .field-row {
      display: flex;
      flex: 1;
    }
    .col1 {
      flex: 1;
    }
    .col2 {
      flex: 0 0 55px;
      font-size: 12px;
      text-align: center;
    }
    .col3 {
      flex: 0 0 55px;
      font-size: 12px;
      text-align: center;
    }
    .fuel {
      border-right: 2px solid black;
      display: flex;
      flex: 0 0 180px;
      flex-direction: column;
      padding: 5px;
    }
    .power-source {
      border-right: 1px dotted black;
      display: flex;
      flex-direction: column;
      flex: 0 0 200px;
      padding: 5px;
      .source-label {
        flex: 0 0 24;
      }
      .source-row {
        display: flex;
        flex: 1;
        .source-name {
          flex: 1;
          font-size: 12px;
        }
      }
    }
    .output-power {
      align-items: right;
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 5px;
      .title-row {
        flex: 0 0 30px;
      }
      .input-row {
        flex: 1;
      }
    }
  } // conditions-row

  .modules-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    .col1 {
      flex: 1;
    }
    .col2 {
      display: flex;
      flex: 0 0 40px;
      justify-content: space-around;
    }
    .col3 {
      flex: 0 0 110px;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
    .title-row {
      display: flex;
      flex: 0 0 30px;
      width: 100%;
    }
    // .modules-block .title-row .col2 a i {
    //   font-family: "IBM Plex Mono";
    // }
    .modules-list {
      display: flex;
      flex: 1;
      flex-direction: column;
      .module-item {
        align-items: center;
        display: flex;
        flex: 0 0 25px;
        border-bottom: 1px dotted black;
        margin-top: 10px;
      }
    }
    .modules-total {
      display: flex;
      flex: 0 0 50px;
      font-size: 12px;
      margin-top: 15px;
      width: 100%;
      .col1 {
        padding-right: 20px;
        text-align: right;
      }
    }
  } // modules-block
}
