.deathinspace.sheet.actor.hub .cargo-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  width: 100%;
  .col1 {
    flex: 1;
  }
  .col2 {
    display: flex;
    flex: 0 0 40px;
    justify-content: space-around;
  }
  .title-row {
    flex: 0 0 30px;
    text-align: right;
    width: 100%;
  }
  .cargo-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    .cargo-item {
      align-items: center;
      display: flex;
      flex: 0 0 25px;
      border-bottom: 1px dotted black;
      margin-top: 10px;
    }  
  }
}
