.deathinspace.sheet.npc {
    form {
      border: 4px solid var(--item-background-color);
      padding: 0;
    }
    .header-row {
      .col1 {
        text-transform: uppercase;
        .game-title {
          color: var(--item-background-color);
          text-transform: uppercase;
        }
        .sheet-title {
          color: var(--item-background-color);
          text-transform: uppercase;
        }
      }
      .col2 {
        .section-label {
          text-transform: uppercase;
        }
        .npc-name {
          font-size: 24px;
          input {
            padding: 5px;
            height: 38px;
          }
        }
      }
    }    
    .sheet-tabs {
      background: var(--item-background-color);
      border-bottom: 1px solid #f4f3ed;
      border-top: 1px solid #f4f3ed;
      color: white;
      .item:hover {
        color: black;
        text-shadow: 0 0 10px white;
      }
      .item.active {
        background-color: #f4f3ed;
        color: var(--item-background-color);
      }
    }
    .personal-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      .row1 {
        display: flex;
      }
      .row2 {
        border: 1px solid blue;
        // display: flex;
        // flex-direction: column;
        flex: 1;
      }
      .col1 {
        border-right: 2px solid black;
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        .reaction-block {
          align-items: center;
          border-bottom: 2px solid black;
          display: flex;
          flex: 0 0 50px;
          justify-content: center;
          a.reaction {
            text-decoration: underline;
            text-transform: uppercase;
          }
        }
        .morale-block {
          align-items: center;
          border-bottom: 2px solid black;
          display: flex;
          height: 50px;
          justify-items: center;
          padding: 5px;
          .morale-name {
            flex: 1;
            font-weight: bold;
          }
          .morale-value {
            flex: 0 0 50px;
          }
          .morale-value input[type="number"] {
            text-align: center;
          }
        }
        .ability-block {
          border-bottom: 2px solid black;
          flex: 0 0 246px;
          .ability-col {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 5px;
            .ability-row {
              display: flex;
              height: 50px;
              .ability-name {
                flex: 1;
                font-weight: bold;
              }
              .ability-value {
                flex: 0 0 50px;
              }
              .ability-value input[type="number"],
              input[type="number"].stat-input {
                text-align: center;
              }
            }
          }
        }
      }
      .col2 {
        border-right: 2px solid black;
        display: flex;
        flex: 2 ;
        flex-direction: column;
        width: 100%;
        .background-block {
          border-bottom: 2px solid black;
          flex: 0 0 50px;
        }
        .first-impressions-block {
          border-bottom: 2px solid black;
          flex: 0 0 90px;
          textarea {
            font-size: 14px;
            height: 68px;
          }
        }
        .looks-block {
          border-bottom: 2px solid black;
          flex: 0 0 90px;
          textarea {
            font-size: 14px;
            height: 68px;
          }
        }
        .defense-row {
          border-bottom: 2px solid black;
          display: flex;
          flex: 0 0 50px;
          padding-left: 2px;
          width: 100%;
          .defense-text {
            border-right: 1px dotted black;
            flex: 1;
            label {
              text-transform: uppercase;
            }
            .help-text {
              font-size: 12px;
            }
          }
          .defense-value {
            display: flex;
            flex: 0 0 50px;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-left: 2px;
          }
        }
        .hit-points-row {
          border-bottom: 2px solid black;
          display: flex;
          flex: 0 0 60px;
          padding-left: 2px;
          .hit-points-text {
            flex: 1;
            label {
              text-transform: uppercase;
            }
            .help-text {
              font-size: 12px;
            }
          }
          .hit-points-current-col {
            border-right: 1px dotted black;
            display: flex;
            flex: 0 0 100px;
            flex-direction: column;
            text-align: center;
            label {
              text-transform: uppercase;
            }
          }
          .hit-points-max-col {
            display: flex;
            flex: 0 0 100px;
            flex-direction: column;
            padding-left: 2px;
            text-align: center;
            label {
              text-transform: uppercase;
            }
          }
        }
      }
      .col3 {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        .regenerate-block {
          align-items: center;
          border-bottom: 2px solid black;
          display: flex;
          flex: 0 0 50px;
          justify-content: center;
          a.regenerate {
            text-decoration: underline;
            text-transform: uppercase;
          }
        }        
        .portrait-block {
          background-color: none;
          flex: 1;
          border-bottom: 2px solid black;
          .portrait-col {
            display: flex;
            flex-direction: column;
            height: 90%;
            justify-content: center;
            .portrait {
              width: 100%;
            }
          }    
        }
      }
    }
    .special-block {
      border-bottom: 2px solid black;
      flex: 0 0 164px;
    }

    /* Notes tab */
    .notes-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    /* Data tab */
    .data-wrapper {
      .form-group {
        border-bottom: 1px dotted black;
        display: flex;
        flex: 0 0 50px;
        width: 100%;
        label {
          flex: 1;
          font-size: 16px;
          padding-right: 10px;
          text-align: right;
        }
        input[type="number"],
        input[type="text"],
        select {
          flex: 1;
          text-align: center;
        }
        textarea {
          flex: 1;
          margin-left: 5px;
        }
      }
      .form-spacer {
        height: 20px;
      }
    } // data-wrapper
  }
  