
<form class="custom-dialog ability-check-dialog">
  <div class="form-group"> 
    <label>{{ localize "DIS.RollType" }}</label>
    <ul>
      <li>
        <label>
          <input name="roll-type" type="radio" value="normal" checked="checked"/>
          <div>{{ localize "DIS.RollTypeNormal" }}</div>
        </label>
      </li>
      <li>
        <label> 
          <input name="roll-type" type="radio" value="advantage"/>
          <div>{{ localize "DIS.RollTypeAdvantage" }}</div>
        </label>
      </li>
      <li>
        <label>
          <input name="roll-type" type="radio" value="disadvantage"/>
          <div>{{ localize "DIS.RollTypeDisadvantage" }}</div>
        </label>
      </li>
    </ul>
  </div>
  <div class="form-group"> 
    <label>{{ localize "DIS.Opposed" }}?</label>
    <div>
      <input name="opposed" type="checkbox" value="1"/>
    </div>
  </div>
  <div class="button-row">
    <button class="ability-check-button" name="ability-check-button">{{ localize "DIS.Roll" }}</button>
  </div>
</form>