form.roll-card.ability-check-card
  .card-title 
    | {{cardTitle}}
  .ability-roll 
    .roll-title
      | {{abilityText}}
    .roll-result 
      span
        | {{xtotal abilityRoll}}
  .outcome-text 
    .ability-outcome 
      | {{abilityOutcome}}