form.roll-card.attack-outcome-card
  .card-title 
    | {{attackTitle}}
  .attack-roll 
    .roll-title
      | {{attackText}}
    .roll-result 
      span
        | {{xtotal attackRoll}}
  .outcome-text 
    .attack-outcome 
      | {{attackOutcome}}
    | {{#if riskyOutcome}}
    .risky-outcome
      | {{riskyOutcome}}
    | {{/if}}
  | {{#if damageRoll}}
  .damage-roll 
    .roll-title
      | {{damageText}}
    .roll-result 
      span
        | {{xtotal damageRoll}}
  | {{#if maxDamageOutcome}}
  .outcome-text
    .max-damage-outcome
      | {{maxDamageOutcome}}
  | {{/if}}
  | {{/if}}
