form.roll-card.morale-card
  .card-title 
    | {{cardTitle}}
  .morale-roll 
    .roll-title
      | {{moraleText}}
    .roll-result 
      span
        | {{xtotal moraleRoll}}
  .outcome-text 
    .morale-outcome 
      | {{moraleOutcome}}