form.roll-card.reaction-card
  .card-title 
    | {{cardTitle}}
  .reaction-roll 
    .roll-title
      | {{reactionText}}
    .roll-result 
      span
        | {{xtotal reactionRoll}}
  .outcome-text 
    .reaction-outcome 
      | {{reactionOutcome}}