.form-group 
  label
    | Slots 
  input(type="number" name="system.slots" value="{{data.system.slots}}" placeholder="0" data-dtype="Number")
.form-group 
  label
    | Cost
  input(type="number" name="system.cost" value="{{data.system.cost}}" placeholder="0" data-dtype="Number")
.form-spacer 