
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-row">
      <div class="col1">
        <div class="game-title"> {{ localize 'DIS.DeathInSpace' }}</div>
        <div class="sheet-title">{{ localize 'DIS.CharacterSheetTitle' }}</div>
      </div>
      <div class="col2">
        <div class="section-label">
           {{ localize 'DIS.Section0Name' }} </div>
        <div class="character-name">
          <input class="character-name" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'DIS.Name' }}" spellcheck="false"/>
        </div>
      </div>
    </div>
  </header>
  <nav class="sheet-tabs tabs" data-group="primary"><a class="item" data-tab="personal">1. {{ localize 'DIS.TabPersonal' }}</a><a class="item" data-tab="situation">2. {{ localize 'DIS.TabSituation' }}</a><a class="item" data-tab="belongings">3. {{ localize 'DIS.TabBelongings' }}</a><a class="item" data-tab="notes">4. {{ localize 'DIS.TabNotes' }}</a></nav>
  <section class="sheet-body"> 
    <div class="tab personal-tab" data-group="primary" data-tab="personal">
      <div class="personal-wrapper"> 
        <div class="origin-row item" data-item-id="{{data.data.origin._id}}"> 
          <div class="origin-label">{{ localize 'DIS.Origin' }} </div>
          <div class="origin item-edit rollable">
             {{data.data.origin.name}}</div>
          <div class="item-controls">
             {{#if data.data.origin}}<a class="item-control item-edit"><i class="fas fa-edit">                         </i></a><a class="item-control item-delete"><i class="fas fa-trash"></i></a>{{else}}<a class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="origin"><i class="fas fa-plus"></i>{{localize "DIS.Add"}}              </a>{{/if}}</div>
        </div>
        <div class="regenerate-block"> <a class="regenerate">{{ localize 'DIS.Regenerate' }}</a></div>
        <div class="origin-benefit-block">
          <div class="title-row">
            <label>{{ localize 'DIS.OriginBenefits' }}</label>
            <div class="item-controls"><a class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="originBenefit"><i class="fas fa-plus"></i>{{localize "DIS.Add"}}          </a></div>
          </div>
          <div class="origin-benefits">
             {{#each data.data.originBenefits as |item id|}}
            <div class="origin-benefit-row item" data-item-id="{{item._id}}">
              <div class="origin-benefit-name item-edit rollable">{{item.name}}</div>
              <div class="item-controls"> <a class="item-control item-edit"><i class="fas fa-edit">                         </i></a><a class="item-control item-delete"><i class="fas fa-trash"></i></a></div>
            </div>{{/each}}
          </div>
        </div>
        <div class="stat-block xp-block">
          <label>{{localize "DIS.XP"}}</label>
          <input class="stat-input" type="number" name="data.xp.value" value="{{data.data.xp.value}}" data-dtype="Number"/>
        </div>
        <div class="stat-block background-block">
          <label>{{localize "DIS.Background"}}</label>
          <input class="stat-input" type="text" name="data.background" value="{{data.data.background}}" data-dtype="String"/>
        </div>
        <div class="stat-block trait-block">
          <label>{{localize "DIS.Traits"}}</label>
          <input class="stat-input" type="text" name="data.trait" value="{{data.data.trait}}" data-dtype="String"/>
        </div>
        <div class="stat-block past-allegiance-block">
          <label>{{localize "DIS.PastAllegiance"}}</label>
          <textarea name="data.pastAllegiance" rows="4">{{data.data.pastAllegiance}}</textarea>
        </div>
        <div class="stat-block drive-block">
          <label>{{localize "DIS.Drive"}}</label>
          <input class="stat-input" type="text" name="data.drive" value="{{data.data.drive}}" data-dtype="String"/>
        </div>
        <div class="stat-block looks-block">
          <label>{{localize "DIS.Looks"}}</label>
          <textarea name="data.looks" rows="4">{{data.data.looks}}</textarea>
        </div>
        <div class="stat-block ability-block">
          <label>{{localize "DIS.Ability"}}</label><br/>
          <div class="ability-col"> 
            <div class="ability-row"> 
              <div class="ability-name rollable" data-ability="body">BODY</div>
              <div class="ability-value"> 
                <input class="stat-input" type="number" name="data.abilities.body.value" value="{{data.data.abilities.body.value}}" data-dtype="Number" min="-3" max="6"/>
              </div>
            </div>
            <div class="ability-row"> 
              <div class="ability-name rollable" data-ability="dexterity">DEXTERITY</div>
              <div class="ability-value"> 
                <input class="stat-input" type="number" name="data.abilities.dexterity.value" value="{{data.data.abilities.dexterity.value}}" data-dtype="Number" min="-3" max="6"/>
              </div>
            </div>
            <div class="ability-row"> 
              <div class="ability-name rollable" data-ability="savvy">SAVVY</div>
              <div class="ability-value"> 
                <input class="stat-input" type="number" name="data.abilities.savvy.value" value="{{data.data.abilities.savvy.value}}" data-dtype="Number" min="-3" max="6"/>
              </div>
            </div>
            <div class="ability-row"> 
              <div class="ability-name rollable" data-ability="tech">TECH</div>
              <div class="ability-value"> 
                <input class="stat-input" type="number" name="data.abilities.tech.value" value="{{data.data.abilities.tech.value}}" data-dtype="Number" min="-3" max="6"/>
              </div>
            </div>
          </div>
        </div>
        <div class="defense-row"> 
          <div class="defense-text"> 
            <label>{{localize "DIS.DefenseRating"}}</label>
            <div class="help-text">{{localize "DIS.DefenseRatingHelp"}}</div>
          </div>
          <div class="defense-value"> 
            <input class="stat-input" type="number" name="data.defenseRating" value="{{data.data.defenseRating}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="hit-points-row"> 
          <div class="hit-points-text"> 
            <label>{{localize "DIS.HitPoints"}}</label>
            <div class="help-text">{{localize "DIS.HitPointsHelp1"}}<br/>{{localize "DIS.HitPointsHelp2"}}</div>
          </div>
          <div class="hit-points-current-col"> 
            <label>{{localize "DIS.Current"}}</label>
            <input class="stat-input" type="number" name="data.hitPoints.value" value="{{data.data.hitPoints.value}}" data-dtype="Number"/>
          </div>
          <div class="hit-points-max-col"> 
            <label>{{localize "DIS.Max"}}</label>
            <input class="stat-input" type="number" name="data.hitPoints.max" value="{{data.data.hitPoints.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="stat-block portrait-block"> 
          <label>{{localize "DIS.Portrait"}}</label><br/>
          <div class="portrait-col"> 
            <div class="portrait"> <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab situation-tab" data-group="primary" data-tab="situation">
      <div class="situation-wrapper"> 
        <div class="void-points-block">
          <div class="void-col-1"> 
            <div class="stat-block"> 
              <label>
                 {{localize "DIS.VoidPoints"}}</label>
            </div>
            <div class="void-points-radios"> 
              <ul class="void-points">
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=0 data-dtype="Number" {{#ifEq data.data.voidPoints.value 0}}checked{{/ifEq}}/><span>0</span></label>
                </li>
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=1 data-dtype="Number" {{#ifEq data.data.voidPoints.value 1}}checked{{/ifEq}}/><span>1</span></label>
                </li>
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=2 data-dtype="Number" {{#ifEq data.data.voidPoints.value 2}}checked{{/ifEq}}/><span>2</span></label>
                </li>
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=3 data-dtype="Number" {{#ifEq data.data.voidPoints.value 3}}checked{{/ifEq}}/><span>3</span></label>
                </li>
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=4 data-dtype="Number" {{#ifEq data.data.voidPoints.value 4}}checked{{/ifEq}}/><span>4</span></label>
                </li>
              </ul>
            </div>
          </div>
          <div class="void-col-2"> 
            <div class="void-points-text-top">
               {{localize "DIS.VoidPointsCanBeUsedTo"}}:</div>
            <div class="void-points-text-bottom"> 
              <ul> 
                <li>{{localize "DIS.VoidPointsUse1"}}.</li>
                <li>{{localize "DIS.VoidPointsUse2"}}.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cosmic-mutations-block">
          <div class="stat-block cosmic-mutations-title"> 
            <label>{{localize "DIS.CosmicMutations"}}</label>
            <div class="item-controls"><a class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="cosmicMutation"><i class="fas fa-plus"></i>{{localize "DIS.Add"}}</a></div>
          </div>{{#each data.data.cosmicMutations as |item id|}}
          <div class="cosmic-mutation-row item" data-item-id="{{item._id}}">           
            <div class="cosmic-mutation-name item-edit rollable">
               {{item.name}}</div>
            <div class="item-controls"><a class="item-control item-edit"><i class="fas fa-edit">                         </i></a><a class="item-control item-delete"><i class="fas fa-trash"></i></a></div>
          </div>{{/each}}       
        </div>
        <div class="void-corruption-block"> 
          <div class="stat-block void-corruption-title"> 
            <label>{{localize "DIS.VoidCorruption"}}</label>
            <textarea name="data.voidCorruption" rows="6">{{data.data.voidCorruption}}</textarea>
          </div>
        </div>
        <div class="life-support-block">
          <div class="stat-block life-support-title"> 
            <label>{{localize "DIS.LifeSupport"}}</label>
          </div>
          <div class="tank-space"> </div>
          <div class="oxygen-tank-row"> 
            <div class="oxygen-numbers"> 
              <div>
                 0%</div>
              <div>
                 100%</div>
            </div>
            <div class="oxygen-tank">
              <div class="oxygen-increments">
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=1 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 1}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=2 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 2}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=3 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 3}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=4 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 4}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=5 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 5}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=6 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 6}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=7 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 7}}checked{{/ifEq}}/></div>
              </div>
            </div>
          </div>
          <div class="tank-space"></div>
        </div>
      </div>
    </div>
    <div class="tab belongings-tab" data-group="primary" data-tab="belongings">
      <div class="belongings-wrapper"> 
        <div class="add-row"><a class="add-belonging" title="Add Belonging"><i class="fas fa-plus"></i>{{localize "DIS.Add"}}</a></div>
        <div class="equipment item-list"> 
          <div class="equipment-header">
            <div class="equipment-name">{{localize "DIS.Equipment"}}</div>
            <div class="equipment-condition">
               {{localize "DIS.Condition"}}</div>
            <div class="equipment-slots">
               {{localize "DIS.Slots"}}</div>
            <div class="item-controls">
               &nbsp;</div>
          </div>{{#each data.data.equipment as |item id|}}
          <div class="equipment-row item {{item.data.brokenClass}}" data-item-id="{{item._id}}">
            <div class="equipment-name item-edit rollable">{{add id 1}}. {{item.name}}</div>
            <div class="equipment-condition">
               {{#if item.data.condition.max}}<a class="item-control item-condition"> <i class="fas fa-dice-six"></i></a>
              <input class="inline-edit" type="number" min="0" max="{{ item.data.condition.max}}" step="1" data-mod="data.condition.value" name="item.data.condition.value" value="{{item.data.condition.value}}" data-dtype="Number"/> / {{ item.data.condition.max}}
              {{else}}
              -
              {{/if}}
            </div>
            <div class="equipment-slots">
               {{#if item.data.equippable}}
              {{#if item.data.equipped}}
              -<a class="item-control item-equip equipped" title="Unequip"><i class="fas fa-shield-alt"></i></a>{{else}}
              {{item.data.slots}}<a class="item-control item-equip unequipped" title="Equip"><i class="fas fa-shield-alt"></i></a>{{/if}}
              {{else}}
              {{#if item.data.slots}}
              {{ item.data.slots}}
              {{else}}
              -
              {{/if}}
              {{/if}}
            </div>
            <div class="item-controls"><a class="item-control item-edit"><i class="fas fa-edit">                         </i></a><a class="item-control item-delete"><i class="fas fa-trash"> </i></a></div>
          </div>{{/each}}
        </div>
        <div class="weapons item-list">
           {{#each data.data.weapons as |item id|}}
          <div class="weapon-header"> 
            <div class="weapon-name">
               {{localize "DIS.Weapon"}} {{add id 1}}</div>
            <div class="weapon-attack">
               &nbsp;</div>
            <div class="weapon-damage">
               {{localize "DIS.Damage"}} </div>
            <div class="weapon-ammo">
               {{localize "DIS.Ammo"}} </div>
            <div class="weapon-condition">
                {{localize "DIS.Condition"}}</div>
            <div class="weapon-slots">
               {{localize "DIS.Slots"}}</div>
            <div class="item-controls">
               &nbsp;</div>
          </div>
          <div class="weapon-row item {{item.data.brokenClass}}" data-item-id="{{item._id}}"> 
            <div class="weapon-name item-edit rollable">{{item.name}}</div>
            <div class="weapon-attack rollable">
               {{localize "DIS.AttackAbbrev"}}</div>
            <div class="weapon-damage rollable">
               {{item.data.damage}}</div>
            <div class="weapon-ammo">
               {{#if item.data.ammo.max}}
              <input class="inline-edit" type="number" min="0" max="{{ item.data.ammo.max}}" data-mod="data.ammo.value" name="item.data.ammo.value" value="{{item.data.ammo.value}}" data-dtype="Number"/> / {{ item.data.ammo.max}} 
              {{else}}
              -
              {{/if}}
            </div>
            <div class="weapon-condition">{{#if item.data.condition.max}}<a class="item-control item-condition"> <i class="fas fa-dice-six"></i></a>
              <input class="inline-edit" type="number" min="0" max="{{ item.data.condition.max }}" data-mod="data.condition.value" name="item.data.condition.value" value="{{item.data.condition.value}}" data-dtype="Number"/> / {{ item.data.condition.max}}
              {{else}}
              -
              {{/if}}
            </div>
            <div class="weapon-slots">
               {{item.data.slots}}</div>
            <div class="item-controls"><a class="item-control item-edit"><i class="fas fa-edit">                         </i></a><a class="item-control item-delete"><i class="fas fa-trash">                         </i></a></div>
          </div>{{/each}}
        </div>
        <div class="armor item-list">
           {{#each data.data.armor as |item id|}}
          <div class="armor-header"> 
            <div class="armor-name">
               {{localize "DIS.ArmorType"}}</div>
            <div class="armor-protects-against">
               {{localize "DIS.ProtectsAgainst"}}</div>
            <div class="armor-dr-bonus">
               {{localize "DIS.DRBonus"}}</div>
            <div class="armor-slots">
               {{localize "DIS.Slots"}}</div>
            <div class="item-controls">
               &nbsp;                </div>
          </div>
          <div class="armor-row item" data-item-id="{{item._id}}">
            <div class="armor-name item-edit rollable">
               {{item.name}}</div>
            <div class="armor-protects-against">
               {{item.data.protectsAgainst}}</div>
            <div class="armor-dr-bonus">
               {{item.data.defenseRatingBonus}}</div>
            <div class="armor-slots">
               {{#if item.data.equippable}}
              {{#if item.data.equipped}}
              -<a class="item-control item-equip equipped" title="Unequip"><i class="fas fa-shield-alt"></i></a>{{else}}
              {{item.data.slots}}<a class="item-control item-equip unequipped" title="Equip"><i class="fas fa-shield-alt"></i></a>{{/if}}
              {{else}}
              {{item.data.slots}}
              {{/if}}
            </div>
            <div class="item-controls"><a class="item-control item-edit"><i class="fas fa-edit">                         </i></a><a class="item-control item-delete"><i class="fas fa-trash"> </i></a></div>
          </div>{{/each}}
        </div>
        <div class="slots-total">
          <div class="slots-total-header">
            <div class="slots-text">
               &nbsp;</div>
            <div class="slots-total">
               {{localize "DIS.Total"}}</div>
            <div class="item-controls">&nbsp;</div>
          </div>
          <div class="slots-total-row">
            <div class="slots-text">
               &#10071; {{localize "DIS.SlotsHelp"}}</div>
            <div class="slots-total">
               {{data.data.totalSlots}}/{{data.data.maxSlots}}</div>
            <div class="item-controls">&nbsp;</div>
          </div>
        </div>
        <div class="holo-row"> 
          <div class="stat-block holos"> 
            <label>{{localize "DIS.Holos"}}</label>
            <input class="stat-input" type="number" name="data.holos" value="{{data.data.holos}}" data-dtype="Number"/>
          </div>
          <div class="stat-block debt"> 
            <label>{{localize "DIS.Debt"}}</label>
            <input class="stat-input" type="number" name="data.debt" value="{{data.data.debt}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
    <div class="tab notes-tab" data-group="primary" data-tab="notes">
      <div class="notes-wrapper">
         {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=true}}</div>
    </div>
  </section>
</form>