
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-row">
      <div class="col1">
        <div class="game-title">DEATH IN SPACE</div>
        <div class="sheet-title">PERSONAL DATA SHEET</div>
      </div>
      <div class="col2">
        <div>
           SECTION 0. PLAYER INFORMATION </div>
        <div class="player-name">
          <input class="player-name" name="data.playerName" type="text" value="{{data.data.playerName}}" placeholder="{{ localize 'DIS.PlayerName' }}" spellcheck="false"/>
        </div>
      </div>
    </div>
  </header>
  <nav class="sheet-tabs tabs" data-group="primary"><a class="item" data-tab="personal">{{ localize 'DIS.TabPersonal' }}</a><a class="item" data-tab="situation">{{ localize 'DIS.TabSituation' }}</a><a class="item" data-tab="belongings">{{ localize 'DIS.TabBelongings' }}</a><a class="item" data-tab="weaponry">{{ localize 'DIS.TabWeaponry' }}</a><a class="item" data-tab="notes">{{ localize 'DIS.TabNotes' }}</a></nav>
  <section class="sheet-body"> 
    <div class="tab personal-tab" data-group="primary" data-tab="personal">
      <div class="personal-wrapper"> 
        <div class="origin-row"> 
          <div class="origin-label">ORIGIN </div>
          <div class="origin"> </div>
        </div>
        <div class="name-row"> 
          <div class="stat-block">
            <label>NAME</label>
            <input type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'DIS.Name' }}" spellcheck="false"/>
          </div>
          <div class="stat-block">
            <label>NICKNAME</label>
            <input type="text" name="data.nickName" value="{{data.data.nickName}}" placeholder="{{ localize 'DIS.NickName' }}" spellcheck="false"/>
          </div>
        </div>
        <div class="stat-block origin-benefit-block">
          <label>ORIGIN BENEFITS</label>
        </div>
        <div class="stat-block xp-block">
          <label>XP</label>
          <input class="stat-input" type="number" name="data.xp.value" value="{{data.data.xp.value}}" data-dtype="Number"/>
        </div>
        <div class="stat-block background-block">
          <label>BACKGROUND</label>
          <input class="stat-input" type="text" name="data.background" value="{{data.data.background}}" data-dtype="String"/>
        </div>
        <div class="stat-block past-allegiance-block">
          <label>PAST ALLEGIANCE</label>
          <input class="stat-input" type="text" name="data.pastAllegiance" value="{{data.data.pastAllegiance}}" data-dtype="String"/>
        </div>
        <div class="stat-block trait-block">
          <label>TRAITS</label>
          <input class="stat-input" type="text" name="data.trait" value="{{data.data.trait}}" data-dtype="String"/>
        </div>
        <div class="stat-block drive-block">
          <label>DRIVE</label>
          <input class="stat-input" type="text" name="data.drive" value="{{data.data.drive}}" data-dtype="String"/>
        </div>
        <div class="stat-block looks-block">
          <label>LOOKS</label>
          <textarea name="data.looks" rows="4"> {{data.data.looks}}</textarea>
        </div>
        <div class="stat-block ability-block">
          <label>ABILITY</label><br/>
          <div class="ability-col"> 
            <div class="ability-row"> 
              <div class="ability-name">BODY</div>
              <div class="ability-value"> 
                <input class="stat-input" type="number" name="data.abilities.BODY.value" value="{{data.data.abilities.BODY.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="ability-row"> 
              <div class="ability-name">DEXTERITY</div>
              <div class="ability-value"> 
                <input class="stat-input" type="number" name="data.abilities.DEXTERITY.value" value="{{data.data.abilities.DEXTERITY.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="ability-row"> 
              <div class="ability-name">SAVVY</div>
              <div class="ability-value"> 
                <input class="stat-input" type="number" name="data.abilities.SAVVY.value" value="{{data.data.abilities.SAVVY.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="ability-row"> 
              <div class="ability-name">TECH</div>
              <div class="ability-value"> 
                <input class="stat-input" type="number" name="data.abilities.TECH.value" value="{{data.data.abilities.TECH.value}}" data-dtype="Number"/>
              </div>
            </div>
          </div>
        </div>
        <div class="defense-row"> 
          <div class="defense-text"> 
            <label>DEFENSE RATING</label><br/>12+DEX Unarmored
          </div>
          <div class="defense-value"> 
            <label>&nbsp;</label><br/>
            <input class="stat-input" type="number" name="data.defenseRating" value="{{data.data.defenseRating}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="hit-points-row"> 
          <div class="hit-points-text"> 
            <label>HIT POINTS</label><br/>Start with 1d8<br/>Recover 1d4+BODY
          </div>
          <div class="hit-points-current-col"> 
            <label>CURRENT</label><br/>
            <input class="stat-input" type="number" name="data.hitPoints.value" value="{{data.data.hitPoints.value}}" data-dtype="Number"/>
          </div>
          <div class="hit-points-max-col"> 
            <label>MAX</label><br/>
            <input class="stat-input" type="number" name="data.hitPoints.max" value="{{data.data.hitPoints.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="stat-block portrait-block"> 
          <label>PORTRAIT</label><br/>
          <div class="portrait-col"> 
            <div class="portrait"> <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab situation-tab" data-group="primary" data-tab="situation">
      <div class="situation-wrapper"> 
        <div class="void-points-block">
          <div class="void-col-1"> 
            <div class="stat-block"> 
              <label>
                 VOID POINTS </label>
            </div>
            <div class="void-points-radios"> 
              <ul class="void-points">
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=0 data-dtype="Number" {{#ifEq data.data.voidPoints.value 0}}checked{{/ifEq}}/><span>0</span></label>
                </li>
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=1 data-dtype="Number" {{#ifEq data.data.voidPoints.value 1}}checked{{/ifEq}}/><span>1</span></label>
                </li>
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=2 data-dtype="Number" {{#ifEq data.data.voidPoints.value 2}}checked{{/ifEq}}/><span>2</span></label>
                </li>
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=3 data-dtype="Number" {{#ifEq data.data.voidPoints.value 3}}checked{{/ifEq}}/><span>3</span></label>
                </li>
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=4 data-dtype="Number" {{#ifEq data.data.voidPoints.value 4}}checked{{/ifEq}}/><span>4</span></label>
                </li>
                <li> 
                  <label><input type="radio" name="data.voidPoints.value" value=5 data-dtype="Number" {{#ifEq data.data.voidPoints.value 5}}checked{{/ifEq}}/><span>5</span></label>
                </li>
              </ul>
            </div>
            <div class="void-points-roll">
               Roll corruption effects <span class="void-points-up-arrow">
                 ↑</span></div>
          </div>
          <div class="void-col-2"> 
            <div class="void-points-text-top">
               VOID POINTS CAN BE USED TO: </div>
            <div class="void-points-text-bottom"> 
              <ul> 
                <li>Get advantage on an ability check or attack roll.</li>
                <li>Activate a cosmic mutation.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cosmic-mutations-block">
          <div class="stat-block mutations-title"> 
            <label>COSMIC MUTATIONS </label>
          </div>
        </div>
        <div class="void-corruption-block"> 
          <div class="stat-block corruption-title"> 
            <label>VOID CORRUPTION </label>
          </div>
        </div>
        <div class="life-support-block">
          <div class="stat-block life-support-title"> 
            <label>LIFE SUPPORT </label>
          </div>
          <div class="tank-space"> </div>
          <div class="oxygen-tank-row"> 
            <div class="oxygen-numbers"> 
              <div>
                 0%</div>
              <div>
                 100%</div>
            </div>
            <div class="oxygen-tank">
              <div class="oxygen-increments">
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=1 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 1}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=2 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 2}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=3 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 3}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=4 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 4}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=5 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 5}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=6 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 6}}checked{{/ifEq}}/></div>
                <div class="increment">
                   <input type="radio" name="data.lifeSupport.value" value=7 data-dtype="Number" {{#ifEq data.data.lifeSupport.value 7}}checked{{/ifEq}}/></div>
              </div>
            </div>
          </div>
          <div class="tank-space"></div>
        </div>
      </div>
    </div>
    <div class="tab belongings-tab" data-group="primary" data-tab="belongings">
      <div class="belongings-wrapper"> 
        <div class="big-items"> 
          <div class="col-1"> 
            <div class="item-row"> 
              <div class="num">1.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">2.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">3.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">4.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">5.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">6.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">7.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">8.</div>
              <div class="item">&nbsp;</div>
            </div>
          </div>
          <div class="col-spacer"> </div>
          <div class="col-2">
            <div class="item-row"> 
              <div class="num">9.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">10.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">11.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">12.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">13.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">14.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row"> 
              <div class="num">15.</div>
              <div class="item">&nbsp;</div>
            </div>
            <div class="item-row total-slots">
               Item slots: 12 + BODY</div>
          </div>
        </div>
        <div class="small-items">
          <div class="small-items-title">
             SMALL ITEMS </div>
          <div> 
            <textarea></textarea>
          </div>
        </div>
        <div class="holo-row"> 
          <div class="stat-block holos"> 
            <label>HOLOS</label>
            <input class="stat-input" type="number" name="data.holos" value="{{data.data.holos}}" data-dtype="Number"/>
          </div>
          <div class="stat-block debt"> 
            <label>DEBT</label>
            <input class="stat-input" type="number" name="data.debt" value="{{data.data.debt}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
    <div class="tab weaponry-tab" data-group="primary" data-tab="weaponry">
      <div class="weaponry-wrapper"> 
        <table class="weapons"> 
          <thead> 
            <th class="name">
               WEAPON </th>
            <th class="damage">
               DAMAGE </th>
            <th class="units">
               UNITS </th>
            <th class="condition">
               CONDITION </th>
          </thead>
          <tbody> 
            <tr>
              <td class="name">
                 &nbsp;</td>
              <td class="damage">
                 &nbsp;</td>
              <td class="units">
                 &nbsp;</td>
              <td class="condition">
                 &nbsp;</td>
            </tr>
          </tbody>
        </table>
        <table class="armor"> 
          <thead> 
            <th class="name">
               ARMOR TYPE</th>
            <th class="protects-against">
               PROTECTS AGAINST </th>
            <th class="dr-bonus">
               DR BONUS </th>
            <th class="condition">
               CONDITION </th>
          </thead>
          <tbody> 
            <tr>
              <td class="name">
                 &nbsp;</td>
              <td class="protects-against">
                 &nbsp;</td>
              <td class="dr-bonus">
                 &nbsp;</td>
              <td class="condition">
                 &nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab notes-tab" data-group="primary" data-tab="notes">
      <div class="notes-wrapper">
         {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=true}}</div>
    </div>
  </section>
</form>