
<form class="{{cssClass}}">
  <header class="sheet-header">
    <div class="header-row">
      <div class="col1">
        <div class="game-title">DEATH IN SPACE</div>
        <div class="sheet-title">HUB DATA SHEET</div>
      </div>
      <div class="col2">
        <div>
           SECTION 0. OWNER INFORMATION </div>
        <div class="owner-sig">
          <input class="owner-name" name="data.ownerName" type="text" value="{{actor.data.ownerName}}" placeholder="{{ localize 'DIS.OwnerName' }}" spellcheck="false"/>
        </div>
      </div>
    </div>
  </header>
  <nav class="sheet-tabs tabs" data-group="primary"><a class="item" data-tab="specifics">{{ localize 'DIS.TabSpecifics' }}</a><a class="item" data-tab="hub-data">{{ localize 'DIS.TabHubData' }}</a><a class="item" data-tab="layout">{{ localize 'DIS.TabLayout' }}</a><a class="item" data-tab="cargo">{{ localize 'DIS.TabCargo' }}</a><a class="item" data-tab="notes">{{ localize 'DIS.TabNotes' }}</a></nav>
  <section class="sheet-body"> 
    <div class="tab personal-tab" data-group="primary" data-tab="specifics">
      <div class="specifics-wrapper">Specifics</div>
    </div>
    <div class="tab hub-data-tab" data-group="primary" data-tab="hub-data">
      <div class="hub-data-wrapper">Hub Data</div>
    </div>
    <div class="tab layout-tab" data-group="primary" data-tab="layout">
      <div class="layout-wrapper">Layout</div>
    </div>
    <div class="tab cargo-tab" data-group="primary" data-tab="cargo">
      <div class="cargo-wrapper">Cargo</div>
    </div>
    <div class="tab notes-tab" data-group="primary" data-tab="notes">
      <div class="notes-wrapper">Notes</div>
    </div>
  </section>
</form>