
<form class="{{cssClass}}">
  <header class="sheet-header">
    <div class="header-row">
      <div class="col1">
        <div class="game-title">DEATH IN SPACE</div>
        <div class="sheet-title">HUB DATA SHEET</div>
      </div>
      <div class="col2">
        <div>
           SECTION 0. OWNER INFORMATION </div>
        <div class="owner-sig">
          <input class="owner-name" name="data.ownerName" type="text" value="{{data.data.ownerName}}" placeholder="{{ localize 'DIS.OwnerName' }}" spellcheck="false"/>
        </div>
      </div>
    </div>
  </header>
  <nav class="sheet-tabs tabs" data-group="primary"><a class="item" data-tab="specifics">{{ localize 'DIS.TabSpecifics' }}</a><a class="item" data-tab="hub-data">{{ localize 'DIS.TabHubData' }}</a><a class="item" data-tab="layout">{{ localize 'DIS.TabLayout' }}</a><a class="item" data-tab="cargo">{{ localize 'DIS.TabCargo' }}</a><a class="item" data-tab="notes">{{ localize 'DIS.TabNotes' }}</a></nav>
  <section class="sheet-body"> 
    <div class="tab specifics-tab" data-group="primary" data-tab="specifics">
      <div class="specifics-wrapper">
        <div class="nickname-block">
          <div class="stat-block">
            <label>Nickname</label>
            <input type="text" name="data.nickName" value="{{data.data.nickName}}" placeholder="" spellcheck="false"/>
          </div>
        </div>
        <div class="hub-type-block">
          <div class="stat-block">
            <label>Hub type and frame</label>
            <input type="text" name="data.hubType" value="{{data.data.hubType}}" placeholder="" spellcheck="false"/>
          </div>
        </div>
        <div class="background-block">
          <div class="stat-block">
            <label>Background</label>
            <textarea name="data.background">{{data.data.background}}</textarea>
          </div>
        </div>
        <div class="appearance-block">
          <div class="stat-block">
            <label>Appearance</label>
            <textarea name="data.appearance">{{data.data.appearance}}</textarea>
          </div>
        </div>
        <div class="quirks-block">
          <div class="stat-block">
            <label>Quirks</label>
            <input type="text" name="data.quirks" value="{{data.data.quirks}}" placeholder="" spellcheck="false"/>
          </div>
        </div>
      </div>
    </div>
    <div class="tab hub-data-tab" data-group="primary" data-tab="hub-data">
      <div class="hub-data-wrapper">
        <div class="frame-integrity-row">
          <div class="frame-integrity">FRAME INTEGRITY</div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="0" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 0}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">0%</div>
            </label>
          </div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="10" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 10}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">10%</div>
            </label>
          </div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="20" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 20}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">20%</div>
            </label>
          </div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="30" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 30}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">30%</div>
            </label>
          </div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="40" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 40}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">40%</div>
            </label>
          </div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="50" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 50}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">50%</div>
            </label>
          </div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="60" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 60}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">60%</div>
            </label>
          </div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="70" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 70}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">70%</div>
            </label>
          </div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="80" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 80}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">80%</div>
            </label>
          </div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="90" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 90}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">90%</div>
            </label>
          </div>
          <div class="integrity-increment">
            <label>
              <div class="integrity-radio">
                <input type="radio" name="data.frameIntegrity.value" value="100" data-dtype="Number" checked="{{#ifEq data.data.frameIntegrity.value 100}}true{{/ifEq}}"/>
              </div>
              <div class="integrity-percent">100%</div>
            </label>
          </div>
          <div class="defense-rating">
            <div class="title-row">
               DEFENSE RATING</div>
            <div class="input-row">
              <input class="defense-rating" name="data.defenseRating" type="number" value="{{data.data.defenseRating}}" data-dtype="Number"/>
            </div>
          </div>
        </div>
        <div class="roll-on-damage-row"> 
          <div class="col1">ROLL ON<br/>DAMAGE TABLE</div>
          <div class="col2">
             ROLL ON<br/>DAMAGE TABLE</div>
          <div class="col3"></div>
          <div class="col4">WHEN ALL IS CALM THE HUB<br/>REGAINS 1d4*10% INTEGRITY</div>
        </div>
        <div class="condition-row"> 
          <div class="condition">
            <div class="label-row">
              <div class="col1">CONDITION</div>
              <div class="col2">
                 CURRENT</div>
              <div class="col3">MAX</div>
            </div>
            <div class="field-row">
              <div class="col1">
                  </div>
              <div class="col2">
                <input class="condition-current" name="data.condition.value" type="number" value="{{data.data.condition.value}}" data-dtype="Number"/>
              </div>
              <div class="col3">
                <input class="condition-max" name="data.condition.max" type="number" value="{{data.data.condition.max}}" data-dtype="Number"/>
              </div>
            </div>
          </div>
          <div class="fuel"> 
            <div class="label-row">
              <div class="col1">FUEL</div>
              <div class="col2">
                 CURRENT</div>
              <div class="col3">MAX</div>
            </div>
            <div class="field-row">
              <div class="col1">
                  </div>
              <div class="col2">
                <input class="fuel-current" name="data.fuel.value" type="number" value="{{data.data.fuel.value}}" data-dtype="Number"/>
              </div>
              <div class="col3">
                <input class="fuel-max" name="data.fuel.max" type="number" value="{{data.data.fuel.max}}" data-dtype="Number"/>
              </div>
            </div>
          </div>
          <div class="power-source"> 
            <div class="source-label">POWER SOURCE</div>
            <div class="source-radios">
              <div class="radio-row">
                <label>Slow
                  <input type="radio" name="data.powerSource" value="slow" data-dtype="String" checked="{{#ifEq data.data.powerSource 'slow'}}true{{/ifEq}}"/>
                </label>
              </div>
              <div class="radio-row">
                <label>Fast
                  <input type="radio" name="data.powerSource" value="fast" data-dtype="String" checked="{{#ifEq data.data.powerSource 'fast'}}true{{/ifEq}}"/>
                </label>
              </div>
              <div class="radio-row">
                <label>Unknown
                  <input type="radio" name="data.powerSource" value="unknown" data-dtype="String" checked="{{#ifEq data.data.powerSource 'unknown'}}true{{/ifEq}}"/>
                </label>
              </div>
            </div>
          </div>
          <div class="output-power">
            <div class="title-row">OUTPUT POWER</div>
            <div class="input-row">
              <input class="output-power power" name="data.outputPower" type="number" value="{{data.data.outputPower}}" data-dtype="Number"/>
            </div>
          </div>
        </div>
        <div class="modules-block">
          <div class="title-row">
            <div class="col1">MODULES</div>
            <div class="col2"> </div>
            <div class="col3">POWER COST</div>
          </div>
          <div class="modules-list">
             {{#each data.data.hubModules as |item id|}}
            <div class="item module-item" data-item-id="{{item._id}}">
              <div class="col1">{{add @index 1}}. {{item.name}}</div>
              <div class="col2"><a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></div>
              <div class="col3"> 
                <input class="hub-module-power-cost power" name="item.powerCost" type="number" value="{{item.data.powerCost}}" data-dtype="Number" readonly="readonly"/>
              </div>
            </div>{{/each}}
          </div>
          <div class="modules-total"> 
            <div class="col1">The power cost sum should not exceed the output power.<br/>Power cost > power output = overheat.</div>
            <div class="col2"></div>
            <div class="col3"> 
              <input class="total-power-cost power" name="data.totalPowerCost" type="number" value="{{data.data.totalPowerCost}}" data-dtype="Number" readonly="readonly"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab layout-tab" data-group="primary" data-tab="layout">
      <div class="layout-wrapper">
        <div class="layout-img">
          <div class="img layout-img" src="{{data.actor.img}}" data-edit="img" title="{{data.actor.name}}"></div>
        </div>
      </div>
    </div>
    <div class="tab cargo-tab" data-group="primary" data-tab="cargo">
      <div class="cargo-wrapper">
        <div class="title-row"><a class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="cargo"><i class="fas fa-plus"></i>{{localize "DIS.Add"}}</a></div>
        <div class="cargo-list">{{#each data.data.cargo as |item id|}}
          <div class="item cargo-item" data-item-id="{{item._id}}">
            <div class="col1">{{add @index 1}}. {{item.name}}</div>
            <div class="col2"><a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></div>
          </div>{{/each}}
        </div>
      </div>
    </div>
    <div class="tab notes-tab" data-group="primary" data-tab="notes">
      <div class="notes-wrapper">{{editor content=data.data.notes target="data.notes" button=true owner=owner editable=editable}}</div>
    </div>
  </section>
</form>