.deathinspace.sheet {
}
.deathinspace.sheet .sheet-tabs {

}
.deathinspace.sheet.actor.character form {
  border: 4px solid #eb1c26;
  padding: 0;
}
.deathinspace.sheet.actor.character .sheet-header {
  height: 80px;
}
.deathinspace.sheet.actor.character .header-row {
  display: flex;
  height: 80px
}
.deathinspace.sheet.actor.character .header-row .col1 {
  padding: 10px;
  flex: 1;
  border: 1px solid blue;
}
.deathinspace.sheet.actor.character .header-row .col2 {
  flex: 1;
}
.deathinspace.sheet.actor.character .header-row .col1 .game-title {
  color: #eb1c26;
  font-size: 36px;
}
.deathinspace.sheet.actor.character .header-row .col1 .sheet-title {
  color: #eb1c26;
}
