:root {
  --background-color: #ffffff;
  --character-background-color: #c8102e;
  --hub-background-color: #4088b4;
  --foreground-color: #000000;
  --highlight-background-color: #c8102e;
  --highlight-foreground-color: #ffffff;
  --item-background-color: #7a7971;
  --tab-font: "IBM Plex Mono";
  --title-font: "AndroclesOpti-Heavy";
  --text-font: "IBM Plex Mono";
  --input-font: sans-serif;
  --input-border-color: #7a7971;
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Roboto&Varta:wght@700display=swap");
@font-face {
  font-family: "AndroclesOpti-Heavy";
  src: url("../assets/fonts/AndroclesOpti-Heavy.otf") format("opentype");
}
.deathinspace .editor,
.deathinspace .editor-content {
  height: 100%;
}
