:root {
  --background-color: #ffffff;
  --foreground-color: #000000;
  --highlight-background-color: #eb1c26;
  --highlight-foreground-color: #ffffff;
  --tab-font: "Helvetica";
  --title-font: "AndroclesOpti-Heavy";
  --text-font: "IBM Plex Mono";
  --input-font: sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Roboto&Varta:wght@700display=swap');
@font-face {
  font-family: "AndroclesOpti-Heavy";
  src: url("../fonts/AndroclesOpti-Heavy.ttf") format("truetype");
}
/* ====================== */
/* Sheet */
/* ====================== */
.deathinspace.sheet .window-content {
  /* inherited background is parchment img bg */  
  /* background: var(--background-color); */
  background: url(../images/seamless_paper_texture.png) repeat;
  color: var(--foreground-color);
  /* TODO: what is busted, that requires that extra trailing var to work? */
  /*font-family: var(--text-font)var;*/
  font-family: var(--text-font);
}
.deathinspace.sheet form {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.deathinspace.sheet input[type="text"],
.deathinspace.sheet input[type="number"] {
  border: none;
  border-bottom: 1px dotted #000;
  border-radius: 0;
  font-family: var(--input-font);
  font-size: 20px;
  text-decoration: none;
}
.deathinspace.sheet textarea {
  border: none;
  border-bottom: 1px dotted #000;
  border-radius: 0;
  height: 90%;
  font-family: var(--input-font);
  font-size: 20px;
  resize: none;
}
.deathinspace .sheet-body {
  overflow: hidden;
  height: 100%;
}
/* ====================== */
/* Sheet Tabs */
/* ====================== */
.deathinspace.sheet.hub .sheet-tabs {
  flex: 0 0 30px;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}
.deathinspace .sheet-tabs .item {
  font-family: var(--tab-font);
  font-weight: 400;
  height: 30px;
  line-height: 32px;
  width: 120px;
  text-transform: uppercase;
}
.deathinspace.sheet .sheet-tabs .item.active {
  text-shadow: none;
}
.deathinspace.sheet .sheet-body .tab {
  height: 100%;
  margin: 0px;
  overflow-y: auto;
  padding: 0px;
  width: 100%;
}
/* ====================== */
/* Actor sheet */
/* ====================== */
.deathinspace.sheet.actor .sheet-header {
  height: 80px;
}
.deathinspace.sheet.actor .header-row {
  display: flex;
  height: 80px
}
.deathinspace.sheet.actor .header-row .col1 {
  flex: 1;
  margin: 0;
  padding: 10px;
}
.deathinspace.sheet.actor .header-row .col2 {
  border-left: 2px solid black;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
}
.deathinspace.sheet.actor .header-row .col1 .game-title {
  font-family: var(--title-font);
  font-size: 36px;
}
.deathinspace.sheet.actor .header-row .col1 .sheet-title {
}
.deathinspace.sheet.actor .stat-block {
  padding: 2px;
}
.deathinspace.sheet.actor .stat-block label {
  display: block;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
}