/* ====================== */
/* Sheet */
/* ====================== */
.deathinspace .sheet-body {
  overflow: hidden;
  height: 100%;
}

.deathinspace.sheet {
  .window-content {
    /* inherited background is parchment img bg */
    /* background: var(--background-color); */
    background: url(../images/seamless_paper_texture.png) repeat;
    color: var(--foreground-color);
    /* TODO: what is busted, that requires that extra trailing var to work? */
    /*font-family: var(--text-font)var;*/
    font-family: var(--text-font);
  }
  form {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  input[type="text"],
  input[type="number"] {
    border: none;
    border-bottom: 1px dotted #000;
    border-radius: 0;
    font-family: var(--input-font);
    font-size: 20px;
    text-decoration: none;
  }
  textarea {
    border: none;
    border-bottom: 1px dotted #000;
    border-radius: 0;
    height: 90%;
    font-family: var(--input-font);
    font-size: 20px;
    resize: none;
  }

  /* ====================== */
  /* Sheet Tabs */
  /* ====================== */
  // TODO: move this
  .hub .sheet-tabs {
    flex: 0 0 30px;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
  }
  .deathinspace .sheet-tabs .item {
    font-family: var(--tab-font);
    font-weight: 400;
    height: 30px;
    line-height: 32px;
    width: 120px;
    text-transform: uppercase;
  }
  .sheet-tabs .item.active {
    text-shadow: none;
  }
  .sheet-body .tab {
    height: 100%;
    margin: 0px;
    overflow-y: auto;
    padding: 0px;
    width: 100%;
  }
  input[type="number"],
  input[type="text"],
  textarea {
    border: 1px dotted #7a7971;
    font-family: "IBM Plex Mono";
    font-size: 16px;
  }
  .editor {
    padding: 0 8px;
  }
}
