/* ====================== */
/* Sheet */
/* ====================== */
.deathinspace .sheet-body {
  overflow: hidden;
  height: 100%;
}

.deathinspace.sheet {
  .window-content {
    /* inherited background is parchment img bg */
    /* background: var(--background-color); */
    background: url(../assets/images/ui/seamless_paper_texture.png) repeat;
    color: var(--foreground-color);
    /* TODO: what is busted, that requires that extra trailing var to work? */
    /*font-family: var(--text-font)var;*/
    font-family: var(--text-font);
  }
  form {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  input[type="text"],
  input[type="number"] {
    border: none;
    border-bottom: 1px dotted black;
    border-radius: 0;
    font-family: var(--input-font);
    font-size: 20px;
    text-decoration: none;
  }
  input:read-only {
    background: none;
  }
  input[type="text"].inline-edit,
  input[type="number"].inline-edit {
    font-size: 14px;
    height: 16px;
    width: 30px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--input-border-color);
    opacity: 0.5;
  }
  :-ms-input-placeholder {
    color: var(--input-border-color);
    opacity: 0.5;
  }
  select {
    border-radius: 0;
    font-family: var(--input-font);
    font-size: 20px;
  }
  textarea {
    border: none;
    border-bottom: 1px dotted black;
    border-radius: 0;
    height: 90%;
    font-family: var(--input-font);
    font-size: 20px;
    resize: none;
  }
  .portrait {
    background: rgba(0, 0, 0, 0.05);
  }
  .portrait:hover {
    cursor: pointer;
  }
  .rollable:hover {
    cursor: pointer;
    text-shadow: 0 0 10px red;
  }

  /* ====================== */
  /* Sheet Tabs */
  /* ====================== */
  // TODO: move this
  .hub .sheet-tabs {
    flex: 0 0 30px;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
  }
  .sheet-tabs {
    margin: 0;
  }
  .sheet-tabs .item {
    font-family: var(--tab-font);
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    line-height: 32px;
    width: 130px;
    text-transform: uppercase;
  }
  .sheet-tabs .item.active {
    text-shadow: none;
  }
  .sheet-body .tab {
    height: 100%;
    margin: 0px;
    overflow-y: auto;
    padding: 0px;
    width: 100%;
  }
  input[type="number"],
  input[type="text"],
  select,
  textarea {
    border: 1px dotted var(--input-border-color);
    font-family: "IBM Plex Mono";
    font-size: 14px;
  }
  .editor {
    padding: 0 8px;
  }
}
