
<form class="{{cssClass}}">
  <header class="sheet-header">
    <div class="header-row">
      <div class="col1">
        <div class="item-image"> <img src="{{data.img}}" data-edit="img" title="{{data.name}}"/></div>
      </div>
      <div class="col2">
        <div class="row1">
          <div class="game-title">DEATH IN SPACE</div>
          <div class="sheet-title">POWER SYSTEM SHEET</div>
        </div>
        <div class="row2">
          <div>
             NAME </div>
          <div class="item-name">
            <input class="item-name" name="name" type="text" value="{{item.name}}" placeholder="Item Name" spellcheck="false"/>
          </div>
        </div>
      </div>
    </div>
  </header>
  <nav class="sheet-tabs tabs" data-group="primary"><a class="item" data-tab="notes">{{ localize 'DIS.TabNotes' }}</a><a class="item" data-tab="data">{{ localize 'DIS.TabData' }}</a></nav>
  <section class="sheet-body"> 
    <div class="tab notes-tab" data-group="primary" data-tab="notes">
      <div class="notes-wrapper">{{editor content=data.data.notes target="data.notes" button=true owner=owner editable=editable}}</div>
    </div>
    <div class="tab data-tab" data-group="primary" data-tab="data">
      <div class="data-wrapper">
        <div class="form-group"> 
          <label>Hub Type</label>
          <select name="data.hubType" data-dtype="String">{{#select data.data.hubType}}
            <option value="spacecraft">spacecraft</option>
            <option value="station">station</option>{{/select}}
          </select>
        </div>
        <div class="form-group"> 
          <label>Speed </label>
          <select name="data.speed" data-dtype="String">{{#select data.data.speed}}
            <option value="">-</option>
            <option value="slow">slow</option>
            <option value="fast">fast</option>
            <option value="bridging">bridging</option>
            <option value="unknown">unknown</option>{{/select}}
          </select>
        </div>
        <div class="form-group"> 
          <label>Requirement</label>
          <input type="text" name="data.requirement" value="{{data.data.requirement}}" placeholder="" data-dtype="String"/>
        </div>
        <div class="form-group"> 
          <label>Output Power</label>
          <input type="number" name="data.outputPower" value="{{data.data.outputPower}}" placeholder="0" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </section>
</form>